@use '../../../theme/main' as *;

.quickAdd {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 4px 2px;
  font-size: 12px;
}

.btnRow {
  justify-self: center;
  display: flex;
  gap: 10%;

  .quickBtn {
    width: auto;
    padding: 0 16px;
  }

  .createEvent {
    color: $light-bg;
  }

  .createDelay {
    color: $block-delay-color;
  }

  .createBlock {
    color: $block-block-color;
  }
}

.keyboard {
  margin-left: 8px;
  padding: 0 4px;
  color: $label-gray;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.options {
  display: flex;
  flex-direction: column;
}
