@use '../../../theme/viewerDefs' as *;

.clock-view {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100vh;

  background: var(--background-color-override, $viewer-background-color);
  color: var(--color-override, $viewer-color);
  display: grid;
  place-content: center;

  .clock {
    font-family: var(--font-family-bold-override, $timer-bold-font-family);
    font-size: 20vw;
    position: relative;
    color: var(--timer-color-override, $timer-color);
    letter-spacing: 0.05em;
  }

  .logo {
    position: absolute;
    top: 2vw;
    left: 2vw;
    max-width: min(200px, 20vw);
    max-height: min(100px, 20vh);
  }
}
