@use '../../../theme/main' as *;
@use '../blockMixins' as *;

.eventBlock {
  // layout
  display: grid;
  grid-template-areas:
          "binder progb      progb progb"
          "binder pb-actions times actions"
          "binder pb-actions title title"
          "binder pb-actions notes status"
          "binder ...        ...   ...";
  grid-template-columns: $binder-width auto 1fr auto;
  grid-template-rows: $element-spacing 36px 36px 36px $element-spacing;
  align-items: center;
  margin: 2px 1px;
  padding-right: $clearance;

  // style - general
  border-radius: $block-border-radius;
  gap: 2px;

  // style - colour
  background-color: $bg-gray-950;
  border: $block-border;

  // style - text


  // variant
  &.selected {
    background-color: $bg-gray-900;
    border: 1px solid $ontime-accent;
  }

  &.skip {
    background-color: $bg-gray-1000;
    border: 1px solid transparent;

    .eventTimers > .delayNote,
    .eventTitle,
    .eventNote,
    {
      color: $text-gray-disabled;
    }

    .binder,
    .eventTimers,
    .eventStatus {
      opacity: $opacity-disabled;
    }
  }

  .progressBg {
    grid-area: progb;
    border-radius: 1px;
    background-color: $bg-black-100;

    // layout
    height: 100%;

    .progressBar {
      // layout
      height: 100%;
      width: 0;
      border-radius: 1px 0 0 1px;
      margin-top: 2px;
      margin-left: 4px;

      // animations
      transition: 1s linear;
      transition-property: width;

      &.play {
        background-color: $ontime-accent;
      }

      &.pause {
        background-color: $ontime-paused;
      }

      &.overtime {
        background-color: red;
      }
    }
  }

  .binder {
    // layout
    grid-area: binder;
    height: 100%;
    display: grid;
    place-content: center;
    position: relative;
    cursor: pointer;

    // style - general
    border-radius: 3px 0 0 3px;
    border-right: 1px solid $bg-gray-900;

    // style - colour
    background-color: $bg-gray-950; // override inline
    color: $text-white;

    // style - text

    .drag {
      @include drag-style;
      position: absolute;
    }
  }

  .playbackActions {
    // layout
    grid-area: pb-actions;
    display: flex;
    flex-direction: column;
    margin: $element-spacing $clearance $element-spacing $element-spacing;
    // style - general
    gap: 6px;
  }

  .eventTimers {
    grid-area: times;
    display: flex;
    align-items: center;
    gap: $clearance;
    height: 100%;

    .delayNote {
      font-size: 10px;
      color: $text-delay;
    }
  }

  .eventTitle {
    grid-area: title;
    display: block;
    font-size: 18px;

    .eventTitle__preview {
      width: 100%;
    }

    &.noTitle {
      span {
        opacity: $opacity-disabled;
      }
    }

    input {
      border-radius: 2px;
      border: 1px;
    }
  }

  .eventNote {
    grid-area: notes;
    display: block;
    font-size: 14px;
    color: $notes-color;
    line-height: 15px;
  }

  .eventActions {
    grid-area: actions;

    display: flex;
    gap: $element-spacing;
    justify-content: flex-end;
  }

  .eventStatus {
    grid-area: status;

    display: flex;
    justify-content: flex-end;
    gap: $element-spacing;

    .statusIcon {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      padding: 4px;
      color: $text-gray-disabled;
    }

    .statusIcon.statusNext {
      border: 1px solid transparent;

      &.enabled {
        color: $ontime-accent;
        border: 1px solid $ontime-accent;
        background-color: $bg-gray-1100;
      }
    }

    .statusIcon.statusDelay {
      &.enabled {
        color: $text-white;
        background-color: $ontime-delay;
      }
    }

    .statusIcon.statusPublic {
      &.enabled {
        color: $text-white;
        background-color: $ontime-roll;
      }
    }
  }

  .eventOptions {
    margin: $element-spacing 16px $element-spacing 0;
  }
}
