@use '../../../theme/ontimeColours' as *;

.wrapper {
  padding: 0.5rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.step {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  display: grid;
  place-content: center;
}

.title {
  display: inline;
  color: $gray-500;
  text-transform: uppercase;
  cursor: pointer;
}

.check {
  color: $green-700;
}

.errorIcon {
  color: $red-700;
}

.errorText {
  color: $red-700;
  font-size: 0.75rem;
}
