@use '../../../../src/theme/ontimeColours' as *;

.focusBlock {
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
}

.focusButton {
  margin: 10px;
  background-color: $blue-500;
  padding: 0.25rem 1rem;
  border-radius: 99px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
