@use '../../../theme/viewerDefs' as *;

.countdown {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */

  background: var(--background-color-override, $viewer-background-color);
  height: 100vh;
  color: var(--color-override, $viewer-color);
  padding: 1vw;

  .event-select {
    display: flex;
    margin-top: 8vh;
    align-items: center;
    justify-content: center;
    font-size: max(1.3vw, 12px);
    flex-direction: column;

    &__title {
      font-size: max(2vw, 14px);
    }

    &__events {
      margin-top: 1em;
      overflow-y: auto;
      height: 70vh;
      width: 60vw;
    }
  }

  .countdown-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
    'title'
    'status'
    'clock'
    'y'
    'timers';
    gap: 1vw;
    justify-content: center;
    text-align: center;

    .timer-group {
      grid-area: timers;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;

      .aux-timers {
        text-align: center;

        &__label {
          font-size: max(1.3vw, 12px);
          color: var(--accent-color-override, $accent-color);
        }

        &__value {
          font-family: 'Open Sans', sans-serif;
          font-size: max(2vw, 14px);
          letter-spacing: 0.3px;

          &--delayed {
            color: $delay-color;
          }
        }
      }
    }

    .title {
      grid-area: title;
      font-size: max(4vw, 18px);
      align-self: center;
      color: var(--accent-color-override, $accent-color);
      background-color: var(--outdent-background-color-override, $viewer-outdent-bg-color);
      padding: 1vh 2vw;
      border-radius: $element-border-radius;
    }

    .status {
      grid-area: status;
      padding-left: 5vw;
      font-size: max(2.5vw, 14px);
      justify-self: flex-start;
      align-self: flex-end;
    }

    .timer {
      grid-area: clock;
      line-height: 20vw;
      font-size: 21vw;
      text-align: center;
      letter-spacing: 0.4vw;
      align-self: flex-start;
      opacity: 1.0;
      transition: opacity 0.5s;
      color: var(--timer-color-override, $viewer-color);

      &--paused {
        opacity: 0.6;
      }
      &--finished {
        color: $timer-finished-color;
      }
    }
  }
}
