@use '../../../styles/main' as *;

.container {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */

  background: $bg-black;
  height: 100vh;
  color: $title-white;
  padding: 1vw;

  .eventSelect {
    display: flex;
    margin-top: 8vh;
    align-items: center;
    justify-content: center;
    font-size: max(1.3vw, 12px);
    flex-direction: column;

    .actionTitle {
      font-size: max(2vw, 14px);
    }

    .events {
      margin-top: 1em;
      overflow-y: auto;
      height: 70vh;
      width: 60vw;
    }
  }

  .countdownContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
    'title'
    'status'
    'clock'
    'y'
    'timers';
    gap: 1vw;
    justify-content: center;
    text-align: center;

    .timers {
      grid-area: timers;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;

      .timer {
        text-align: center;

        .label {
          font-size: max(1.3vw, 12px);
          color: $ontime-pink;
        }

        .value {
          font-family: 'Open Sans', sans-serif;
          font-size: max(2vw, 14px);
          letter-spacing: 0.3px;
          color: #ddd;

          &.delayed {
            color: $block-delay-color;
          }
        }
      }
    }

    .title {
      grid-area: title;
      font-size: max(4vw, 18px);
      align-self: center;
      color: $ontime-pink;
      background-color: $bg-gray-1000;
      padding: 1vh 2vw;
      border-radius: 1vw;
    }

    .status {
      grid-area: status;
      padding-left: 5vw;
      font-size: max(2.5vw, 14px);
      justify-self: flex-start;
      align-self: flex-end;
    }

    .countdownClock {
      grid-area: clock;
      line-height: 20vw;
      font-size: 21vw;
      text-align: center;
      letter-spacing: 0.4vw;
      align-self: flex-start;
      opacity: 1.0;
      transition: opacity 0.5s;

      &.standby {
        opacity: 0.6;
      }
      &.finished {
        color: $ontime-pink-variant;
      }
    }
  }
}
