@use '../../styles/main' as *;

.tableWrapper,
.tableWrapper__dark {
  width: 100vw;
  height: 100vh;
  padding: 32px 32px;
  display: grid;
  //scrollbar-width: thin;
  //
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
          'header'
          'settings'
          'table';

  gap: 16px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  .header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-areas:
      'name running time actions'
      'now running time actions';
    grid-template-columns: 1fr 10em 10em auto;
    border: 1px solid $ontime-pink;
    border-radius: 4px;
    align-items: center;
    padding: 0.25em 1em;

    .headerName {
      grid-area: name;
      font-size: 1.5em;
    }

    .headerNow {
      grid-area: now;
      font-size: 1.25em;
    }

    .headerRunning {
      grid-area: running;
      text-align: center;
    }

    .headerClock {
      grid-area: time;
      text-align: center;
    }

    .headerActions {
      grid-area: actions;
      display: flex;
      gap: 8px;
      font-size: 1.5em;
      padding-left: 10vw;
      color: darken($ontime-pink, 8%);
    }
  }

  .tableSettings {
    grid-area: settings;
    width: 100%;
    border: 1px solid $ontime-pink;
    border-radius: 4px;
    padding: 1em 1em;
    display: flex;
    gap: 32px;
  }

  .tableContainer {
    grid-area: table;
    width: 100%;
    border: 1px solid $ontime-pink;
    border-radius: 4px;

    border-collapse: separate;
    border-spacing: 4px;

    text-align: left;
    vertical-align: top;
    padding: 16px;
    overflow: scroll;

    .tableBody {
      height: 80%;
      //overflow: scroll;
    }

    .indexColumn,
    .indexColumnNow {
      font-weight: 200;
      text-align: right;
      border-radius: 4px;
      padding: 4px;
    }

    .indexColumnNow {
      background-color: #4bffab99;
    }

    .rowHeader {
      font-weight: 200;

      .headerCell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
      }
    }

    .row,
    .rowNow,
    .rowHeader {
      display: flex;
      gap: 4px;
      padding-top: 4px;

      .headerCell {
        padding: 4px;
        flex: 0 0;
        //flex-grow: 1;
      }

      .column {
        border-radius: 4px;
        padding: 4px;
        flex: 0 0;
        //flex-grow: 1;
      }

      .column:hover {
        background-color: $ontime-pink !important;
      }
    }

    .rowNow {
      .column {
        background-color: #4bffab99;
      }
    }
  }
}


.tableWrapper {
  background-color: #fcfcfc;
  color: black;

  * {
    background-color: #fcfcfc;
    scrollbar-color: $ontime-pink rgba(0, 0, 0, 0.13);
  }

  *::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.07);
  }

  *::-webkit-scrollbar-thumb {
    background-color: lighten($ontime-pink, 15%);
  }

  .column {
    background-color: #f6f6f6;
  }
}

.tableWrapper__dark {
  background-color: #121212;
  color: white;

  * {
    background-color: #1c1c1c;
    scrollbar-color: $ontime-pink rgba(255, 255, 255, 0.13);
  }

  .column {
    background-color: #323232;
  }
}

.timer {
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 200;
}

.label {
  color: $ontime-pink;
  font-size: 0.8em;
  font-weight: 200;
  line-height: 0.75em;
}

svg {
  background-color: inherit !important;
}

.actionIcon {
  cursor: pointer;
}
.actionDisabled {
  opacity: 0.2;
}

.rotate {
  animation: rotation infinite 1s linear;
  color: red;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  /* No margins on build  ... */
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
    font-size: 12pt !important;
  }

  /* Ensure printable colours */
  .tableWrapper,
  .tableWrapper__dark {
    background-color: white;
    color: black;

    * {
      background-color: white;
      font-size: 12pt !important;
    }

    .column {
      background-color: #f6f6f6;
    }

    .tableContainer {
      overflow: visible;
    }

    /* Remove unnecessary sections */
    .headerNow,
    .headerRunning,
    .headerActions,
    .tableSettings,
    .headerClock,
    .actionIcon {
      display: none !important;
    }

    /* Overload styles */
    .rowHeader {
      font-weight: 600 !important;
    }

    .row {
      height: fit-content;
    }
  }

  /* ... set page margins */
  @page {
    size: auto;
    margin: 0;
  }
}
