@use '../../../theme/viewerDefs' as *;

.container.pip {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  background: var(--background-color-override, $viewer-background-color);
  height: 100vh;
  color: var(--color-override, $viewer-color);
  font-weight: 300;
  display: grid;
  grid-template-columns: 20vw 20vw 18vw 3vw 1fr;
  grid-template-rows: 60vh 1fr 1fr 1fr;
  grid-template-areas:
    ' pip  pip  pip  . schd'
    ' titl titl titl . schd'
    ' info info clck . schd'
    ' info info time . schd';
  gap: 1vw;
  padding: 1vw;

  .today-container,
  .info-container,
  .clock-container,
  .timer-container {
    background-color: var(--outdent-background-color-override, $viewer-outdent-bg-color);
    padding: 1vh 1vw;
    border-radius: 1vw;

    .label {
      font-size: 1.3vw;
      color: var(--accent-color-override, $accent-color);
    }

    .clock,
    .timer {
      font-family: 'Open Sans', sans-serif;
      font-size: 3vw;
      line-height: 3vw;
      text-align: center;
      letter-spacing: 0.25vw;
      color: var(--color-override, $viewer-color);
    }
  }

  .event-title {
    grid-area: titl;
    font-size: 3vw;
    font-weight: 600;
    text-decoration: underline 0.5vh;
    text-decoration-color: var(--accent-color-override, $accent-color);
    padding-top: 0.2vh;
    padding-left: 1vw;
  }

  .today-container {
    grid-area: schd;
    padding: 2.5vh 2vw;
    overflow: hidden;
    margin-top: 3vh;
    height: 95%;

    .today-header-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5vh;

      .nav {
        align-self: center;
        justify-content: flex-end;
        display: flex;
        margin-bottom: 2.5vh;
      }

      .nav-item {
        background-color: $today-item-bg;
        width: 0.7vw;
        height: 0.7vw;
        border-radius: 0.35vw;
        margin-left: 0.5vw;
      }
    }
  }

  .pip {
    grid-area: pip;
    background-color: $pip-bg-color;
    border: 1px solid $pip-border-color;
    width: 100%;
    text-align: center;
    display: grid;
    place-content: center;

    &__empty {
      opacity: 0.5;
    }

    &__text {
      color: $pip-text-color;
      font-weight: 600;
      font-size: 4vh;
    }
  }

  .info-container {
    grid-area: info;
    display: grid;

    grid-template-rows: 3vh minmax(0, 1fr);
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'titl .'
    'binf qr';
    gap: 0.5vw;

    .info-message {
      grid-area: binf;
      font-size: 1.5vw;
      line-height: 2vw;
      white-space: pre-line;
      overflow: hidden;
    }

    .qr {
      align-self: center;
      justify-self: center;
      grid-area: qr;
    }
  }

  .clock-container {
    grid-area: time;
    border-radius: 0 0 1vw 1vw;
  }

  .timer-container {
    grid-area: clck;
    border-radius: 1vw 1vw 0 0;
  }
}
