@use '@/theme/themeTokens' as *;

@mixin cuesheet-row-columns($header-font-size: calc(1rem - 2px)) {
  .actionColumn {
    padding-inline: 0.5rem;
    padding-top: 0.5rem !important; // fighting the table styles
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .indexColumn {
    display: flex;
    align-items: start;
    justify-content: end;

    min-width: 3em; // allow for 3-digit numbers
    font-size: $header-font-size;
    line-height: 2rem; // match input height
    background-color: $gray-1300; // will be overridden inline
    font-weight: 600;
  }
}
