$table-font-size: 1rem;
$table-header-font-size: calc(1rem - 2px);

.cuesheetContainer {
  grid-area: table;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 70vh; // allow focus to reach last elements
}

.cuesheet {
  font-size: $table-font-size;
  font-weight: 400;

  tr {
    display: flex;
  }

  th,
  td {
    margin: 1px;
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
    position: relative;
    padding: 0.25rem;
  }

  th:focus,
  td:focus {
    outline: 2px solid $ui-white;
  }
}

.tableHeader,
.eventRow,
.blockRow {
  .actionColumn {
    padding-inline: 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: center;
    line-height: 2rem; // match input height
  }

  .indexColumn {
    display: flex;
    align-items: start;
    justify-content: end;

    min-width: 3em; // allow for 3-digit numbers
    font-size: $table-header-font-size;
    line-height: 2rem; // match input height
    background-color: $gray-1300; // will be overridden inline
  }
}

.tableHeader {
  .actionColumn {
    background-color: $gray-1250;
    width: calc(1.5rem + 1rem); // button + padding
  }
  position: sticky;
  top: 0px;
  z-index: $zindex-floating;
  background-color: $ui-black;
  font-size: $table-header-font-size;
}

th {
  background-color: $gray-1300;
  padding-left: 0.25rem;

  &:hover {
    .resizer {
      width: 0.5rem;
    }
  }

  &:first-of-type {
    margin-left: 5px; // border + 1px margin
  }
}

.check {
  font-size: 1.5rem;
  margin: 0 auto;
}

.delayedTime {
  color: $ontime-delay-text;
  font-size: calc(1rem - 2px);
}

.resizer {
  cursor: col-resize;
  opacity: $opacity-disabled;
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $action-blue;

  user-select: none;
  touch-action: none;

  &:hover {
    opacity: 1;
  }
}
