$table-font-size: 1rem;
$table-header-font-size: calc(1rem - 2px);

.cuesheetContainer {
  grid-area: table;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 70vh; // allow focus to reach last elements
}

.cuesheet {
  font-size: $table-font-size;
  font-weight: 400;
  color: $ui-white;

  tr {
    display: flex;
  }

  th {
    background-color: $gray-1300;
    padding-left: 0.25rem;
    font-weight: 400;

    &:hover {
      .resizer {
        width: 0.5rem;
      }
    }

    &:first-of-type {
      margin-left: 4px; // compensate left border
    }
  }

  th,
  td {
    margin: 1px;
    font-size: inherit;
    text-align: left;
    position: relative;
    padding: 0.25rem;
  }

  th:focus,
  td:focus {
    outline: 2px solid $ui-white;
  }
}

.actionColumn {
  padding-inline: 0.5rem;
  background-color: transparent;
  display: flex;
  align-items: start;
  justify-content: center;
  line-height: 2rem; // match input height
}

.indexColumn {
  display: flex;
  align-items: start;
  justify-content: end;

  min-width: 3em; // allow for 3-digit numbers
  font-size: $table-header-font-size;
  line-height: 2rem; // match input height
  background-color: $gray-1300; // will be overridden inline
  font-weight: 600;;
}

.tableHeader {
  line-height: 2rem;
  position: sticky;
  top: 0px;
  z-index: $zindex-floating;
  background-color: $ui-black;
  font-size: $table-header-font-size;

  .actionColumn {
    background-color: $gray-1250;
    width: calc(2rem + 1px); // button + padding + margin
  }
  .indexColumn {
    width: 3.5em;
  }
}

.resizer {
  cursor: col-resize;
  opacity: $opacity-disabled;
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $action-blue;

  user-select: none;
  touch-action: none;

  &:hover {
    opacity: 1;
  }
}
