.uploadSection,
.successSection {
  margin-top: 1rem;
  display: flex;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: center;
  background-color: $gray-1350;
  border: 1px solid $white-10;
  border-radius: 3px;
}

.uploadSection {
  flex-direction: row;
  gap: 2rem;
}

.successSection {
  color: $green-500;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.inputContainer {
  flex: 1;
}

.singleActionCell {
  width: 50px;
  text-align: center;
}
