@use '../../theme/main' as *;

.eventEditor {
  padding: 16px 32px;
  width: 100%;
  overflow-y: scroll;
  max-height: 40vh;
  gap: max(16px, 2vh);

  display: grid;
  grid-template-areas: 'timers titles';
  grid-template-columns: auto 1fr;

  .timers,
  .titles {
    background-color: $bg-container-l2;
    border-radius: 2px;
    padding: 8px 16px;
  }

  .timers {
    grid-area: timers;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .timers label:nth-child(1) {
    margin-top: 4px;
  }

  .titles {
    grid-area: titles;
    display: grid;
    grid-template-areas:
            'left right'
            'tag  tag';
    grid-template-columns: 1fr 1fr;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 4px;
    }

    .left {
      grid-area: left;
      padding-right: 16px;
    }

    .right {
      padding-left: 16px;
      grid-area: right;
      border-left: 1px solid $bg-container-l3;
    }

    .osc {
      grid-area: tag;
      font-size: 14px;
      color: $ontime-accent;
      text-align: right;
      user-select: text;
    }
  }

  .inline {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .padTop {
    margin-top: 8px;
  }

  .inputLabel {
    font-size: 13px;
    display: block;
    color: $label-gray;

    .delayLabel {
      color: $text-delay;
    }
  }
}
