.wrapper {
  position: relative;
}

.suggestions {
  background: $gray-1250;
  color: $ui-white;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: $zindex-floating;
  padding-block: 0.25rem;

  max-height: 200px;
  overflow-y: auto;
  color: $label-gray;

  li {
    padding: 0.25rem;
  }

  li:hover {
    color: $ui-white;
    background: $blue-700;
  }
}
