@use '../../../theme/v2Styles' as *;
@use '../../../theme/ontimeColours' as *;
@import "../Modal.module.scss";

.uploadBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.uploadArea {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;

  min-height: 150px;
  border: 2px dashed $gray-200;
  border-radius: 3px;
  display: grid;
  place-content: center;
  transition-property: background-color;
  transition-duration: $transition-time-action;
  font-size: calc(1rem - 1px);

  &:hover {
    border: 2px solid $blue-500;
    background-color: $blue-50;
    cursor: pointer;
  }

  &.comment {
    color: $modal-note-color;
  }
}

.uploadOptions {
  display: flex;
  flex-direction: column;
}

.pad {
  margin: 8px;
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
