@use '../../../theme/viewerDefs' as *;

.title-side {
  .label {
    font-size: 1.3vw;
    color: var(--accent-color-override, $accent-color);
  }

  .title,
  .subtitle,
  .presenter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    color: $title-color;
    font-weight: 600;

    &.now {
      font-size: 2.5vw;
    }

    &.next {
      font-size: 2vw;
    }
  }

  .subtitle {
    color: $subtitle-color;
    &.now {
      font-size: 1.2vw;
      margin-top: -1vh;
    }

    &.next {
      font-size: 1.1vw;
      margin-top: -0.8vh;
    }
  }

  .presenter {
    font-weight: 400;
    color: $subtitle-color;

    &.now {
      font-size: 2vw;
    }

    &.next {
      font-size: 1.5vw;
    }
  }

  .title:after,
  .subtitle:after,
  .presenter:after {
    content: '\200b';
  }
}
