.quickAdd {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 0.25rem 0;
  font-size: calc(1rem - 3px);
  padding-inline: calc(2em + 0.5rem) 0.75rem;
}

.quickBtn {
  font-weight: 400;
}
