@use '../../views/editor/EditorMixin' as editor;

.rundownExport {
  height: 100%;
  flex: 1 1 auto; /* flex-grow: 1, flex-shrink: 1, flex-basis: auto */

  &.extracted {
    .list {
      flex: 1;
      max-width: none;
    }
    .side {
      flex: 1;
      max-width: none;
    }
  }
}

.rundown {
  display: flex;
  max-height: 100%;
  height: 100%;
}

.list {
  @include editor.panel;
  height: inherit;
  padding-inline: 0;
  box-shadow: $box-shadow-right;

  flex: 1 2 auto; /* flex-grow: 1, flex-shrink: 2, flex-basis: auto */
  min-width: 38rem;
  max-width: 60rem;
}

.side {
  max-height: 100%;
  max-width: 45rem;
  margin: 0.5rem 0;
  padding: 1rem;
  padding-right: 0;
  background-color: $gray-1325;
  border-radius: 0 8px 8px 0;

  flex: 1 1 auto; /* flex-grow: 1, flex-shrink: 1, flex-basis: auto */
  max-width: 45rem;
}
