.overlay {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;

  border: 10px solid $ui-white;
  background-color: $ui-black;

  color: $ui-white;
  display: grid;
  place-content: center;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}

.name {
  font-weight: 600;
  margin-top: -10vh;
  line-height: 1em;
  font-size: 12vw;
  text-transform: uppercase;
}

.message {
  color: $label-gray;
  line-height: 2em;
  font-size: 3vw;
}
