@use '../../../../theme/ontimeColours' as *;

.current {
  color: $blue-400;
  background-color: $gray-1350;
}

.actionButton {
  flex: 1;
  text-align: right;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.formInput {
  flex: 2;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  margin: 0 0.5rem;

  button {
    flex: 1;
  }

  button:first-child {
    margin-right: 0.5rem;
  } 
}

.error {
  color: $red-500;
}