.current {
  color: $blue-400;
  background-color: $gray-1350;
}

.actionButton {
  flex: 1;
  text-align: right;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.formInput {
  flex: 2;
}

.createFormInputField {
  padding-bottom: 0.5rem;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.createActionButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  justify-content: flex-end;
}

.error {
  color: $red-500;
}

.createContainer {
  padding: 0.5rem 0;
}

.saveButton {
  text-transform: capitalize;
}

.createSubmitError {
  font-size: calc(1rem - 2px);
  font-weight: 400;
  color: $red-500;
}