@use '../../../../theme/ontimeColours' as *;

.current {
  color: $blue-400;
  background-color: $gray-1350;
}

.actionButton {
  text-align: right;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.formControl {
  padding-right: 0.5rem;
}

.duplicateFormControl {
  margin-top: 0.5rem;
}

.duplicateActionButtons {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0.5rem;

  .saveButton {
    margin-bottom: 0.5rem;
  }
}

.actionButtons {
  .button {
    &:first-of-type {
      margin-right: 0.5rem;
    }
  }

  .cancelButton {
    color: red;
  }
}
