.label {
  color: $label-gray;
  font-size: calc(1rem - 2px);
  width: 10em; // a number large enough to force right alignment
}

.clock {
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  min-width: 5em;

  &::after {
    content: '\200b';
  }
}

.column {
  display: flex;
  flex-direction: column;

  .label {
    line-height: 0.9em;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.25em;

  .label {
    text-align: right;
  }

  .clock {
    font-size: 1.25rem;
  }
}

.daySpan {
  &::after {
    content: "*";
    vertical-align: super;
    font-size: 0.75em;
    color: $info-blue;
  }
}

.muted {
  color: $muted-gray;
}
