.label {
  color: $label-gray;
  font-size: calc(1rem - 2px);
}

.clock {
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  min-width: 5em;
  font-variant-numeric: tabular-nums;

  &::after {
    content: '\200b';
  }

  &.muted {
    color: $muted-gray;
  }
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;

  .label {
    line-height: 0.9em;
    width: 7em;
    display: flex;
    gap: 0.25rem;
  }

  &[data-state="over"] {
    .label .over {
      color: $playback-over;
    }
    .clock {
      color: $playback-over;
    }
  }

  &[data-state="under"] {
    .label .under {
      color: $playback-under;
    }
    .clock {
      color: $playback-under;
    }
  }

  &[data-state="muted"] {
    .clock {
      color: $muted-gray;
    }
  }
}
