.title {
  font-size: 1.75rem;
  font-weight: 600;
  color: $ui-white;
  line-height: 1;
  @include ellipsis-overflow;
}

.description {
  font-size: 1rem;
  color: $secondary-text-gray;
  font-weight: 400;
  @include ellipsis-overflow;
}
