@use '../blockMixins' as *;

.delay {
  @include block-styling;

  margin-block: 0.25rem;
  padding-right: 0.25rem;
  background-color: $block-bg2;

  display: grid;
  grid-template-columns: 2rem 1fr auto auto;
  align-items: center;
  height: $secondary-block-height;
  gap: 0.5rem;

  &.hasCursor {
    outline: 1px solid $block-cursor-color;
  }

  &.copyTarget {
    outline: 1px dashed $blue-500;
    outline-offset: -2px;
  }
}

.drag {
  @include drag-style;
}
