@use '../../../theme/v2Styles' as *;

.titleEditor {
  display: block;
  font-size: 18px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noTitle {
  .preview {
    opacity: $opacity-disabled;
  }
}
