@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

/* Common */
.countdownClock,
.countdownClockSmall {
  font-family: 'Open Sans', sans-serif;
  line-height: 0.9;
}

/* Viewers */
.countdownClock {
  font-size: 21vw;
  line-height: 21vw;
  text-align: center;
  letter-spacing: 1vw;
}

/* Editor */
.countdownClockSmall {
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #fffffa;
}
