@use '../../../styles/main' as *;

/* Common */
.countdownClock,
.countdownClockSmall {
  font-family: 'Open Sans', sans-serif;
  line-height: 0.9;
  color: $text-white;
}

/* Viewers */
.countdownClock {
  font-size: 21vw;
  line-height: 21vw;
  text-align: center;
  letter-spacing: 1vw;
}

/* Editor */
.countdownClockSmall {
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.negative {
 color: $ontime-pink;
}
