@use '../../../theme/viewerDefs' as *;

.timer {
  font-family: 'Open Sans', sans-serif;
  color: var(--timer-color-override, $viewer-color);
  font-size: 21vw;
  line-height: 21vw;
  text-align: center;
  letter-spacing: 1vw;

  &--small {
    font-size: 3.75em;
    line-height: 0.9;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 600;
  }

  &--finished {
    color: $timer-finished-color;
  }
}
