@use 'ontimeStyles' as *;

//////////////////////////////////// general app elements

@mixin action-link {
  color: $action-text-color;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-property: color;
  transition-duration: $transition-time-action;
  white-space: nowrap;

  &:hover {
    color: $ontime-color;
  }
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin rotate-fourty-five {
  transform: rotate(45deg);
} 

.fourtyfive {
  @include rotate-fourty-five;
}
