// from https://www.genomecolor.space/

$white-1: rgba(255, 255, 255, 0.01);
$white-2: rgba(255, 255, 255, 0.02);
$white-3: rgba(255, 255, 255, 0.03);
$white-7: rgba(255, 255, 255, 0.07);
$white-9: rgba(255, 255, 255, 0.09);
$white-10: rgba(255, 255, 255, 0.1);
$white-13: rgba(255, 255, 255, 0.13);
$white-20: rgba(255, 255, 255, 0.2);
$white-40: rgba(255, 255, 255, 0.4);
$white-60: rgba(255, 255, 255, 0.6);
$white-90: rgba(255, 255, 255, 0.9);

$black-10: rgba(0, 0, 0, 0.1);
$black-60: rgba(0, 0, 0, 0.6);

$gray-50: #f6f6f6;
$gray-100: #ececec;
$gray-200: #e2e2e2;
$gray-300: #cfcfcf;
$gray-400: #b1b1b1;
$gray-500: #9d9d9d;
$gray-600: #8a8a8a;
$gray-700: #6c6c6c;
$gray-800: #595959;
$gray-900: #4c4c4c;
$gray-1000: #404040;
$gray-1050: #303030;
$gray-1100: #2d2d2d;
$gray-1200: #262626;
$gray-1250: #202020;
$gray-1300: #1a1a1a;
$gray-1325: #151515;
$gray-1350: #101010;
$ui-white: $gray-50;
$ui-black: $gray-1350;

$orange-50: #fffaf0;
$orange-100: #fff4df;
$orange-200: #ffeece;
$orange-300: #ffe1ab;
$orange-400: #ffcc78;
$orange-500: #ffbc56;
$orange-600: #ffab33;
$orange-700: #e69000;
$orange-800: #d27c00;
$orange-900: #b46d00;
$orange-1000: #975e00;
$orange-1100: #6a4400;
$orange-1200: #4c3200;
$orange-1300: #3d2900;
$orange-1350: #2e1f00;

$green-50: #edfaee;
$green-100: #dcf4de;
$green-200: #cbeecf;
$green-300: #a9e0b0;
$green-400: #77c785;
$green-500: #55b469;
$green-600: #339e4e;
$green-700: #087a27;
$green-800: #006e1b;
$green-900: #006415;
$green-1000: #00570f;
$green-1100: #004108;
$green-1200: #003005;
$green-1300: #002703;
$green-1350: #001d02;

$blue-50: #f5f7ff;
$blue-100: #e3eaff;
$blue-200: #d2ddff;
$blue-300: #afc4ff;
$blue-400: #779be7;
$blue-500: #578af4;
$blue-600: #3e75e8;
$blue-700: #2b5abc;
$blue-800: #0a43b9;
$blue-900: #0036a6;
$blue-1000: #002a90;
$blue-1100: #001a64;
$blue-1200: #001145;
$blue-1300: #000d36;
$blue-1350: #000926;

$red-50: #fff0f0;
$red-100: #ffdfdf;
$red-200: #ffcece;
$red-300: #ffabab;
$red-400: #ff7878;
$red-500: #fa5656;
$red-600: #ed3333;
$red-700: #d20300;
$red-800: #c10000;
$red-900: #b20000;
$red-1000: #9a0000;
$red-1100: #6f0000;
$red-1200: #520000;
$red-1300: #440000;
$red-1350: #360000;

$violet-50: #f6f6f6;
$violet-100: #ebe5ff;
$violet-200: #dfd5ff;
$violet-300: #c7b8fd;
$violet-400: #a790f5;
$violet-500: #9379ec;
$violet-600: #8064e1;
$violet-700: #674acb;
$violet-800: #4e31b1;
$violet-900: #3f249d;
$violet-1000: #311887;
$violet-1100: #1f0b62;
$violet-1200: #140545;
$violet-1300: #0f0336;
$violet-1350: #0a0126;
