.track {
  input:checked + & {
    background-color: $blue-700;
    border-color: $blue-700;
  }

  input:not(:checked) + & {
    background-color: $gray-1100;
  }

  input:focus-visible + &.track {
    outline: 2px solid $blue-700;
  }
}
