// from https://www.genomecolor.space/

$white-1: rgba(255, 255, 255, 0.01);
$white-2: rgba(255, 255, 255, 0.02);
$white-3: rgba(255, 255, 255, 0.03);
$white-7: rgba(255, 255, 255, 0.07);
$white-9: rgba(255, 255, 255, 0.09);
$white-10: rgba(255, 255, 255, 0.10);
$white-13: rgba(255, 255, 255, 0.13);
$white-20: rgba(255, 255, 255, 0.20);
$white-40: rgba(255, 255, 255, 0.40);
$white-60: rgba(255, 255, 255, 0.60);
$white-90: rgba(255, 255, 255, 0.90);

$black-10: rgba(0, 0, 0, 0.10);
$black-60: rgba(0, 0, 0, 0.60);

$gray-50: #f6f6f6;
$gray-100: #ececec;
$gray-200: #e2e2e2;
$gray-300: #cfcfcf;
$gray-400: #b1b1b1;
$gray-500: #9d9d9d;
$gray-600: #8a8a8a;
$gray-700: #6c6c6c;
$gray-800: #595959;
$gray-900: #4c4c4c;
$gray-1000: #404040;
$gray-1050: #303030;
$gray-1100: #2d2d2d;
$gray-1200: #262626;
$gray-1250: #202020;
$gray-1300: #1a1a1a;
$gray-1325: #151515;
$gray-1350: #101010;
$ui-white: $gray-50;
$ui-black: $gray-1350;

$orange-50: #FFFAF0;
$orange-100: #FFF4DF;
$orange-200: #FFEECE;
$orange-300: #FFE1AB;
$orange-400: #FFCC78;
$orange-500: #FFBC56;
$orange-600: #FFAB33;
$orange-700: #E69000;
$orange-800: #D27C00;
$orange-900: #B46D00;
$orange-1000: #975E00;
$orange-1100: #6A4400;
$orange-1200: #4C3200;
$orange-1300: #3D2900;
$orange-1350: #2E1F00;

$green-50: #EDFAEE;
$green-100: #DCF4DE;
$green-200: #CBEECF;
$green-300: #A9E0B0;
$green-400: #77C785;
$green-500: #55B469;
$green-600: #339E4E;
$green-700: #087A27;
$green-800: #006E1B;
$green-900: #006415;
$green-1000: #00570F;
$green-1100: #004108;
$green-1200: #003005;
$green-1300: #002703;
$green-1350: #001D02;

$blue-50: #F5F7FF;
$blue-100: #E3EAFF;
$blue-200: #D2DDFF;
$blue-300: #AFC4FF;
$blue-400: #779BE7;
$blue-500: #578AF4;
$blue-600: #3E75E8;
$blue-700: #2B5ABC;
$blue-800: #0A43B9;
$blue-900: #0036A6;
$blue-1000: #002A90;
$blue-1100: #001A64;
$blue-1200: #001145;
$blue-1300: #000D36;
$blue-1350: #000926;

$red-50: #FFF0F0;
$red-100: #FFDFDF;
$red-200: #FFCECE;
$red-300: #FFABAB;
$red-400: #FF7878;
$red-500: #FA5656;
$red-600: #ED3333;
$red-700: #D20300;
$red-800: #C10000;
$red-900: #B20000;
$red-1000: #9A0000;
$red-1100: #6F0000;
$red-1200: #520000;
$red-1300: #440000;
$red-1350: #360000;

$violet-50: #F6F6F6;
$violet-100: #EBE5FF;
$violet-200: #DFD5FF;
$violet-300: #C7B8FD;
$violet-400: #A790F5;
$violet-500: #9379EC;
$violet-600: #8064E1;
$violet-700: #674ACB;
$violet-800: #4E31B1;
$violet-900: #3F249D;
$violet-1000: #311887;
$violet-1100: #1F0B62;
$violet-1200: #140545;
$violet-1300: #0F0336;
$violet-1350: #0A0126;
