# Ignore config files
.prettier*

# Ignore install stuff
**/yarn.lock
**/yarn-error.log

# Ignore test files
**/__tests__/**
**/**.test.js

# Ignore git and cache folders
.git
.gitignore
.cache

# Ignore build folders
node_modules
**/node_modules

# Ignore default volumes created by running docker compose up
ontime-db
ontime-styles
