{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    // disallow certain object properties
    // https://eslint.org/docs/rules/no-restricted-properties
    "no-restricted-properties": [
      "error",
      {
        "object": "global",
        "property": "isNaN",
        "message": "Please use Number.isNaN instead"
      },
      {
        "object": "self",
        "property": "isNaN",
        "message": "Please use Number.isNaN instead"
      },
      {
        "object": "window",
        "property": "isNaN",
        "message": "Please use Number.isNaN instead"
      }
    ]
  }
}