{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier", "eslint-config-prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["e2e/**/**.spec.ts", "e2e/**/**.test.ts"],
      "extends": ["plugin:playwright/playwright-test"]
    }
  ],
  "rules": {
    "no-useless-concat": "warn",
    "prefer-template": "warn",
    "no-throw-literal": "error",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["ontime-types/src/*", "ontime-utils/src/*"]
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
