{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "overrides": [
    {
      "files": [
        "e2e/**/**.spec.ts",
        "e2e/**/**.test.ts"
      ],
      "extends": [
        "plugin:playwright/playwright-test"
      ]
    }
  ],
  "rules": {
    "no-console": "warn"
  }
}