{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "plugin": [
    "@prettier/plugin-oxc"
  ]
}