version: "3"

services:
  ontime:
    container_name: ontime
    image: getontime/ontime:latest
    ports:
      - "4001:4001/tcp"
      - "127.0.0.1:8888:8888/udp"
    volumes:
      - "./ontime-db:/Resources/extraResources/external/preloaded-db"
      - "./ontime-external:/Resources/extraResources/external/styles"
    environment:
      - TZ=Asia/Singapore
    restart: unless-stopped
