.header {
  padding: 0.5rem 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: $gray-500;
  border-left: 3px solid $orange-600;
  padding-left: 0.5rem;
  margin-inline: 0.5rem 1.5rem;
}

.hint {
  font-size: 0.75rem;
  color: $gray-500;
  font-style: italic;
}

.disabledDuration {
  width: 100%;
  max-width: 7.5em;
  text-align: center;
  color: $gray-600;
  opacity: 0.4;
  cursor: not-allowed;
}

.lockActive {
  color: $active-indicator;
}

.lockInactive {
  color: $muted-gray;
}
