.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.hint {
  font-size: 0.75rem;
  color: $gray-500;
  font-style: italic;
}

.disabledDuration {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 6.5em;
  max-width: 6.5em;
  color: $gray-600;
  opacity: 0.4;
}

.disabledInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 6.5em;
  max-width: 6.5em;
  color: $gray-600;
  opacity: 0.4;
}

.lockActive {
  color: $active-indicator;
}

.lockInactive {
  color: $muted-gray;
}

.lockDisabled {
  color: $muted-gray;
  cursor: not-allowed;
}
