@use '@/theme/viewerDefs' as *;

.studio {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-override, $viewer-font-family);
  background: var(--background-color-override, #000);
  color: var(--color-override, $viewer-color);
  padding: $view-outer-padding;
  font-size: $base-font-size;

  .studio-contents {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }

  .studio-contents--onecol {
    height: 100%;
    grid-template-columns: 1fr;
    place-content: center;
  }

  /* =================== HEADER + EXTRAS ===================*/

  .project-header {
    grid-area: header;
    font-size: $header-font-size;
    font-weight: 600;
    display: flex;
    gap: 1rem;
  }

  .logo {
    max-width: min(200px, 20vw);
  }

  .title {
    line-height: 1.1em;
  }
}

/* =================== MOBILE ===================*/
@media screen and (max-width: $small-screen) {
  .studio {
    .logo img {
      height: min(50px, 10vh);
    }

    .studio-contents {
      margin-top: $view-element-gap;
      gap: $view-element-gap;
    }
  }
}

/* ================ SMALL SCREEN ================*/
@media screen and (max-width: $studio-breakpoint) {
  .studio {
    .studio-contents {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    .studio-contents--onecol {
      justify-content: center;
    }
  }
}
