.errorContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: #121212;
  color: white;

  .error {
    color: $error-red;
    font-weight: 600;
  }

  .report {
    text-decoration: underline  $error-red;
    cursor: pointer;
  }

  .report:hover {
    color: $error-red;
  }

  .report:active {
    color: white;
  }
}
