@use './theme/ontimeStyles' as *;

$track-color: $white-1;
$thumb-color: $gray-1100;
$thumb-color-hover: $gray-900;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;
}

// reset box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
.App {
  font-size: 15px;
  font-family: $ontime-font-family;
  margin: 0 auto;
  overflow: hidden;
  overflow: clip;
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  background-color: $bg-container-l1;
}

/* smaller root size for MacOS laptops */
@media (max-width: 1600px) {
  body,
  html,
  .App {
    font-size: 14px;
  }
}

/* hide underline in links */
a {
  text-decoration: none;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $thumb-color;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $thumb-color-hover;
}
