.uploadLogoCard {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $gray-1350;
  border: 1px solid $white-10;
  border-radius: 3px;

  img {
    max-width: 250px;
    height: auto;
  }
}

.customDataItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titleRow {
  display: flex;
  gap: 1rem;
  align-items: end;

  label {
    flex: 1;
  }
}

.customImage {
  display: grid;
  grid-template-columns: 1fr 72px;
  gap: 1rem;
}

.imageContainer {
  width: 72px;
  height: 72px;
  background-color: $gray-1250;
}
