@use '../../../theme/viewerDefs' as *;

.minimal-timer {
  background: var(--background-color-override, $viewer-background-color);
  height: 100vh;
  color: var(--color-override, $viewer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border: 1vw solid transparent;

  &--finished {
    border: 1vw solid $timer-finished-color;
    transition: 0.3s;
  }

  .timer {
    font-family: "Arial Black", sans-serif;
    font-size: 20vw;
    position: relative;
    color: var(--timer-color-override, $viewer-color);
    opacity: 1;
    transition: 0.5s;
    transition-property: opacity;
    background-color: transparent;

    &--paused {
      opacity: 0.6;
      transition: 0.5s;
    }

    &--finished {
      color: $timer-finished-color;
    }
  }

  /* =================== OVERLAY ===================*/

  .message-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $viewer-overlay-bg-color;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;

    &--active {
      opacity: 1;
      transition: 0.5s;
      transition-property: opacity;
      z-index: 2;
    }
  }

  .message {
    width: inherit;
    padding: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15vw;
    line-height: 30vh;
    text-align: center;
    font-weight: 600;
  }
}
