$timeline-entry-height: 20px;

.timeline {
  flex: 1;
}

.timelineEvents {
  position: relative;
  height: 100%;
}

.entryColumn {
  position: absolute;
  background-color: var(--lighter, $gray-500);
  border-bottom: 0.25rem solid var(--color, $ui-white);
  border-right: 1px solid $ui-black;
  min-height: 80px;

  &.fullHeight {
    height: calc(100% - 4rem);
  }
}

.entryContent {
  padding-top: var(--top, 0);

  &.lastElement {
    text-align: right;
    transform: translateX(-100%);
  }
}

.entryText {
  position: relative;
  z-index: 2;
  color: $ui-white;
  padding-inline: 0.5em;
  width: fit-content;
  white-space: nowrap;

  &.textBg {
    background-color: var(--bg, $black-10);
  }
}

.start,
.title {
  font-weight: 600;
}

// for elapsed events, we can hide some stuff
[data-status='finished'] {
  color: $gray-500;
  .status {
    display: none;
  }
}

[data-status='live'] {
  font-weight: 600;
  color: $ui-white;

  .status {
    color: $active-red;
  }
}

[data-status='future'] {
  font-weight: 600;
  color: $gray-300;

  .status {
    color: $green-500;
  }
}
