@use '../../theme/v2Styles' as *;
@use '../../theme/ontimeColours' as *;

.headerNotes {
  font-size: $text-body-size;
  width: 100%;
  padding: 0 $section-spacing;
  color: $modal-note-color;
  margin-bottom: $section-spacing;

  a {
    display: block;
    color: $blue-500;
    transition-property: color;
    transition-duration: $transition-time-action;

    &:hover {
      color: $ontime-color;
    }
  }
}

.divider {
  margin: $element-spacing 0;
  border: 0;
  border-top: 1px solid $gray-100;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%
}

@mixin sectionSpacing {
  border-radius: $component-border-radius-md;
  padding: $element-spacing;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $blue-50;
  }
}

.splitSection {
  @include sectionSpacing;
  justify-content: space-between;
}

.entryRow {
  @include sectionSpacing;
  gap: $element-inner-spacing;
}

.sectionTitle {
  font-size: $inner-section-text-size;
  display: block;

  &.main {
    font-weight: 600;
  }
}

@mixin subsection {
  font-size: $inner-section-text-size;
  display: block;
}

.sectionSubtitle {
  @include subsection;
  color: $modal-note-color;
}

.error {
  @include subsection;
  color: $error-red;
}

.buttonSection {
  margin-top: $section-spacing;
  padding-top: $section-spacing;
  padding-left: -24px;
  border-top: 1px solid $gray-100;
  display: flex;
  gap: $section-spacing;
}

.spacer {
  flex-grow: 1;
}

.shiftRight {
  align-self: flex-end;
  margin-right: 8px;
}

.showPointer {
  cursor: pointer;
}