@use '../../theme/v2Styles' as *;
@use '../../theme/ontimeColours' as *;

.link {
  display: flex;
  align-items: center;
  gap: 4px;

  color: $blue-500;
  transition-property: color;
  transition-duration: $transition-time-action;

  &.inline {
    display: inline-flex;
  }

  &:hover {
    color: $ontime-color;
  }
}
