@use '../../theme/v2Styles' as *;
@use '../../theme/ontimeColours' as *;

$el-padding-with-compensation: 24px; // 16 + 8

@mixin modal-link {
  color: $blue-500;
  transition-property: color;
  transition-duration: $transition-time-action;

  &:hover {
    color: $ontime-color;
  }
}

.headerNotes {
  font-size: $text-body-size;
  width: 100%;
  padding: 0 $el-padding-with-compensation;
  color: $modal-note-color;
  margin-bottom: $section-spacing;

  a {
    display: block;
    @include modal-link
  }
}

.footerNotes {
  font-size: $inner-section-text-size;
  padding: 0 $el-padding-with-compensation;
  color: $modal-note-color;
}

.divider {
  margin: $element-spacing 0;
  border: 0;
  border-top: 1px solid $gray-100;
}

.title {
  font-size: $inner-section-text-size;
  color: $gray-500;
  padding-left: 0.5rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.sectionContainer {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  height: 100%
}

@mixin sectionSpacing {
  border-radius: $component-border-radius-md;
  padding: $element-spacing;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $gray-50;
  }
}

.columnSection {
  @include sectionSpacing;
  flex-direction: column;
  align-items: flex-start;
  gap: $element-inner-spacing;
}

.splitSection {
  @include sectionSpacing;
  gap: $section-spacing;
  justify-content: space-between;
}

.entryRow {
  @include sectionSpacing;
  gap: $element-inner-spacing;
}

.sectionTitle {
  font-size: $inner-section-text-size;
  display: block;
  width: 100%;

  &.main {
    font-weight: 600;
  }
}

@mixin subsection {
  font-size: $inner-section-text-size;
  display: block;
}

.sectionSubtitle {
  @include subsection;
  color: $modal-note-color;
}

.error {
  @include subsection;
  color: $error-red;
}

.success {
  @include subsection;
  color: $action-blue;
}

.feedbackSection {
  justify-content: flex-start;

}

.buttonSection {
  margin-top: $section-spacing;
  display: flex;
  gap: $section-spacing;
}

.spacer {
  flex-grow: 1;
}

.vSpacer {
  height: 2rem;
}

.shiftRight {
  align-self: flex-end;
}

.showPointer {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.twoColumn {
  display: grid;
  grid-template-columns: auto 1fr;
}

.twoEqualColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.padBottom {
  padding-bottom: $element-spacing;
}

.logo {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: $section-spacing;
}

.updateSection {
  padding-top: $el-padding-with-compensation;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: $element-inner-spacing;

  .error {
    font-size: $error-red;
  }
}

.overflowContainer {
  overflow-y: auto;
  max-height: 40%;
}