@use '../../../theme/viewerDefs' as *;

.paginator.entries {
  width: 100%;

  .entry-times {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4vw;

    min-width: 10vw;
    opacity: 0.9;
    letter-spacing: 0.035em;
  }

  .entry-title {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .entry {
    display: flex;
    font-size: 1.3vw;
    padding: 0.2vh 1vw;
    margin-bottom: 1.5vh;
    border-radius: 3px;

    &--now,
    &--future {
      color: var(--color-override, $viewer-color);
    }

    &--past {
      font-size: 1.2vw;
      opacity: 0.6;
    }

    &--now {
      line-height: 5vh;
      background-color: $now-bg-color;
      border-bottom: 0.5vh solid;
      border-bottom-color: var(--accent-color-override, $accent-color);
      margin-left: -0.5em;
      padding-left: 0.5em;
    }

    &--future {
      background-color: $future-bg-color;
    }
  }

  .backstage-indicator {
    color: var(--accent-color-override, $accent-color);
    margin-left: auto;
    margin-right: -0.5vw;

    &::before {
      content: '*';
    }
  }
}
