@use '../../../theme/v2Styles' as *;
@use '../blockMixins' as *;

.eventBlock {
  font-family: $ontime-font-family;
  display: grid;
  grid-template-areas:
          "binder ...        ...   ..."
          "binder pb-actions times actions"
          "binder pb-actions title title"
          "binder pb-actions estatus estatus"
          "binder ...        ...     ...";

  grid-template-columns: $block-binder-width auto 1fr auto;
  grid-template-rows: 4px 36px 36px 36px 4px;
  align-items: center;
  margin: 4px 2px;
  padding-right: $block-clearance;

  border-radius: $block-border-radius;
  gap: 2px;

  background-color: $block-bg;
  border: 1px solid #383838;
  box-shadow: $block-box-shadow;

  &.selected {
    background-color: #101010;
  }

  &.hasCursor {
    outline: 1px solid #779BE7;
  }

  &.skip {
    border: 1px solid rgba(white, 0.03);
    box-shadow: none;

    .delayNote,
    .eventTitle,
    .eventNote,
    .binder,
    .eventTimers,
    .eventStatus {
      opacity: $opacity-disabled;
    }
  }
}

.binder {
  grid-area: binder;
  height: 100%;
  display: grid;
  place-content: center;
  position: relative;
  cursor: pointer;

  border-radius: $block-border-radius 0 0 $block-border-radius;

  background-color: #303030; // to override inline
  color: $section-white;
  font-size: 17px;

  .drag {
    @include drag-style;
    position: absolute;
  }
}

.playbackActions {
  grid-area: pb-actions;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  gap: 6px;
}

.eventTimers {
  grid-area: times;
  display: flex;
  align-items: center;
  gap: $block-clearance;
  height: 100%;

  .delayNote {
    font-size: 12px;
    line-height: 14px;
    color: #E69056;
  }
}

.eventTitle {
  grid-area: title;
  display: block;
  font-size: 18px;

  &.noTitle {
    .eventTitle__preview {
      opacity: $opacity-disabled;
    }
  }
}

.eventActions {
  grid-area: actions;
  display: flex;
  gap: $block-clearance;
  justify-content: flex-end;
}


.eventOptions {
  margin: $element-spacing 16px $element-spacing 0;
}

.progressBg {
  grid-area: progb;
  border-radius: 2px;
  background-color: #282828;
  opacity: 1;
  height: 100%;
}

.progressBg.hidden {
  opacity: 0;
}

.flip {
  transform: rotateY(180deg);
}

.statusElements {
  grid-area: estatus;
  display: grid;
  grid-template-areas:
          "notes status"
          "progb progb";
  gap: 2px;
  grid-template-rows: auto 4px;
  align-items: center;
  height: 100%;
  padding: 2px 0;
}

.eventNote {
  grid-area: notes;
  display: block;
  font-size: 13px;
  color: $block-text-color;
  line-height: 13px;
}

.eventStatus {
  grid-area: status;
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .statusIcon {
    width: 16px;
    height: 16px;
    color: #404040;
  }

  .statusNext.enabled {
    color: $playback-start;
  }

  .statusDelay.enabled {
    color: $ontime-delay;
  }

  .statusPublic.enabled {
    color: $action-blue;
  }
}
