.progress {
  height: 2vh;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 4px;
}

.progressBar {
  width: 30%;
  height: 2vh;
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}
