@use '../../../styles/main' as *;

.progress,
.progressCountdown {
  height: 2vh;
  border-radius: 4px;
}

.progress {
  background-color: $bg-gray-900;
}

.progressCountdown {
  background-color: $ontime-pink;
}

.progressBar {
  width: 100%;
  height: 2vh;
  background-color: $title-white;
  border-radius: 4px;
  transition: 1s linear;
  transition-property: width;
}
