@use '../../../theme/main' as *;

.container,
.containerFinished {
  background: $bg-black;
  height: 100vh;
  color: $title-white;
  display: grid;
  place-content: center;
  gap: 1vw;
  border: 1vw solid $bg-black;
}

.containerFinished {
  border: 1vw solid $ontime-pink-variant;
  color: $ontime-pink-variant;
  transition: 0.3s;
}

.timer,
.timerPaused {
  font-family: "Arial Black", sans-serif;
  font-size: 20vw;
  color: inherit;
  opacity: 1;
  transition: 0.5s;
  transition-property: opacity;
}

.timerPaused {
  opacity: 0.6;
  transition: 0.5s;
}

/* =================== OVERLAY ===================*/

.messageOverlay,
.messageOverlayActive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-overlay;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.messageOverlayActive {
  opacity: 1;
  transition: 0.5s;
  transition-property: opacity;
  z-index: 2;
}

.message {
  width: inherit;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 15vw;
  line-height: 30vh;
  text-align: center;
  font-weight: 600;
}
