.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

tr .secondaryRow {
  background-color: $white-7;
  padding-left: 2em;
}

.linkStartActive {
  color: var($active-indicator);
  transform: rotate(-45deg);
}
