@use '../../../theme/viewerDefs' as *;

.backstage {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100vh;

  font-family: $viewer-font-family;
  background: var(--background-color-override, $viewer-background-color);
  color: var(--color-override, $viewer-color);
  gap: max(1vw, 16px);
  padding: max(1vw, 16px) clamp(16px, 10vw, 64px);

  display: grid;
  grid-template-columns: 1fr 1fr 40vw;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    ' header    header    header'
    ' progress  progress  schedule-nav'
    ' now       now       schedule'
    ' message   message   info';

  /* =================== HEADER + EXTRAS ===================*/

  .event-header {
    grid-area: header;
    font-size: clamp(32px, 4.5vw, 64px);
    font-weight: 600;
    display: flex;
  }

  .clock-container,
  .public-container {
    .label {
      font-size: clamp(16px, 1.5vw, 24px);
      font-weight: 600;
      color: var(--label-color-override, $viewer-label-color);
      text-transform: uppercase;
    }

    .clock {
      font-size: clamp(32px, 3.5vw, 50px);
      font-weight: 600;
      letter-spacing: 0.05em;
    }

    .message {
      font-size: clamp(16px, 1.5vw, 24px);
      color: var(--color-override, $viewer-color);
      font-weight: 400;
    }
  }

  .public-container {
    &--hidden {
      opacity: 0;
      transition: $viewer-transition-time;
      transition-property: opacity;
    }
  }

  .clock-container {
    grid-area: clock;
    margin-left: auto;
  }

  /* =================== MAIN - NOW ===================*/

  .progress-container {
    grid-area: progress;
    width: 100%;
    margin: 0 auto -8px;
  }

  .now-container {
    grid-area: now;
    display: flex;
    flex-direction: column;
    gap: min(2vh, 16px);
  }

  .event {
    background-color: var(--card-background-color-override, $viewer-card-bg-color);
    padding: 16px 24px;
    border-radius: 8px;
  }

  .event-timer-container {
    grid-area: timer;
    border-top: 2px solid var(--background-color-override, $viewer-background-color);
    margin-top: 2em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
  }

  .timer-container {
    font-weight: 600;
    font-size: clamp(16px, 1.5vw, 24px);

    .label {
      color: var(--label-color-override, $viewer-label-color);
      text-transform: uppercase;
    }

    .timer {
      font-size: clamp(24px, 2vw, 32px);
      letter-spacing: 0.05em;
    }
  }

  /* =================== MAIN - SCHEDULE ===================*/

  .schedule-container {
    grid-area: schedule;
    overflow: hidden;
    height: 100%;
    margin-left: 16px;
  }

  .schedule-nav-container {
    grid-area: schedule-nav;
    align-self: center;
  }

  .info {
    grid-area: info;
    display: flex;
    gap: max(1vw, 16px);

    &__message {
      font-size: clamp(16px, 1.5vw, 24px);
      line-height: 1.3em;
      white-space: pre-line;
      overflow: hidden;
      flex: 1;
    }

    .qr {
      margin-left: auto;
      padding: 4px;
      background-color: white;
    }
  }
}
