@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

.container__gray,
.container__grayFinished {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */

  background: linear-gradient(90deg, #252525 0%, #121212 100%);
  height: 100vh;
  color: #fffd;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3vw 2fr;
  grid-template-rows: 2fr 1fr 1fr 0 1fr;
  grid-template-areas:
    ' titl titl titl . schd'
    ' now  now  now  . schd'
    ' next next .... . schd'
    ' ...  .... .... . ....'
    ' publ publ time . info'
    ' publ publ clck . info';
  gap: 1vw;
  padding: 1vw;
}

.label {
  font-size: 1.3vw;
  color: #ff7597;
}

.eventTitle {
  grid-area: titl;
  font-size: 3vw;
  font-weight: 600;
  text-decoration: underline #ff7597 0.5vh;
  padding-top: 0.2vh;
  padding-left: 1vw;
}

/* =================== TITLES ===================*/

.nowContainer,
.nextContainer,
.todayContainer {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1vh 2vw;
}

.clockContainer,
.countdownContainer,
.publicContainer,
.publicContainerHidden {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1vh 1vw;
}

.publicContainer {
  opacity: 1;
  transition: 0.5s;
  transition-property: opacity;
}

.publicContainerHidden {
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity;
}

.todayContainer,
.infoContainer {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 2.5vh 2vw;
}

.infoContainer,
.todayContainer,
.publicContainer,
.publicContainerHidden {
  border-radius: 1vw;
}

.nowContainer,
.nextContainer {
  margin-left: -1vw;
}

.nowContainer {
  background-color: rgba(255, 255, 255, 0.09);
  grid-area: now;
  border-radius: 0 2vw 2vw 0;
}

.publicContainer,
.publicContainerHidden {
  grid-area: publ;
}

.nextContainer {
  grid-area: next;
  border-radius: 0 2vw 2vw 0;
}

.nowTitle,
.nextTitle {
  color: #ddd;
  font-weight: 400;
}

.nowSubtitle,
.nowPresenter,
.nextSubtitle,
.nextPresenter {
  color: #aaa;
}

.nowTitle {
  font-size: 2.5vw;
}

.nowSubtitle,
.nowPresenter {
  font-size: 2vw;
}

.nextTitle {
  font-size: 2vw;
}

.nextSubtitle,
.nextPresenter {
  color: #aaa;
  font-size: 1.5vw;
}

.nowTitle:after,
.nowSubtitle:after,
.nowPresenter:after,
.nextTitle:after,
.nextSubtitle:after,
.nextPresenter:after {
  content: '\200b';
}

/* =================== SCHEDULE ===================*/

.todayContainer {
  grid-area: schd;
  display: grid;
  grid-template-rows: 5vh 1fr 3vh;
  margin-top: 3vh;
  height: 95%;
}


.entryStart,
.entryEnd {
  font-size: 1.5vw;
}

.entryTitle {
  align-self: center;
}
.entryPast,
.entryNow,
.entryFuture {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  gap: 1.5vw;
  font-size: 1.3vw;
  padding: 0.2vh 1vw;
}

.entryPast {
  color: #aaa;
  font-size: 1.2vw;
}

.entryFuture {
  color: #ddd;
}
.entryNow {
  font-size: 1.3vw;
  color: #fff;
  line-height: 7vh;
  background-color: rgba(255, 255, 255, 0.09);
  border-bottom: 0.5vh solid #ff7597aa;
  margin-left: -0.5vw;
}

/* =================== OVERLAY ===================*/

.message {
  font-size: 3vw;
  line-height: 3vw;
  padding: 0.5vh 0 0.5vh 1vw;
}

.infoContainer {
  grid-area: info;
  display: grid;

  grid-template-rows: 3vh minmax(0, 1fr);
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'titl .'
    'binf qr';
  gap: 0.5vw;
}

.infoMessages {
  grid-area: binf;
  font-size: 1.5vw;
  white-space: pre-line;
}

.qr {
  align-self: center;
  justify-self: center;
  grid-area: qr;
}

/* =================== MAIN ===================*/

.clockContainer {
  grid-area: time;
  border-radius: 1vw 1vw 0 0;
}

.countdownContainer {
  grid-area: clck;
  border-radius: 0 0 1vw 1vw;
}

.clock {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.25vw;
  color: #ddd;
}
