@use '../../../theme/main' as *;
@use '../../../theme/viewers' as *;

.container__gray,
.container__grayFinished {
  @include viewer-container;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3vw 2fr;
  grid-template-rows: 15vh 1fr 1fr 0 13vh 13vh;
  grid-template-areas:
    ' titl titl titl . schd'
    ' now  now  now  . schd'
    ' next next .... . schd'
    ' ...  .... .... . ....'
    ' publ publ clck . info'
    ' publ publ time . info';
  gap: 1vw;
  padding: 1vw;
}

.eventTitle {
  grid-area: titl;
  @include viewer-event-title;
}

.nowContainer {
  grid-area: now;
  background-color: $bg-gray-950;
  border-radius: 0 2vw 2vw 0;
}

.publicContainer,
.publicContainerHidden {
  grid-area: publ;
}

.nextContainer {
  grid-area: next;
  border-radius: 0 2vw 2vw 0;
}

.todayContainer {
  grid-area: schd;
}

.infoContainer {
  grid-area: info;
}

.clockContainer {
  grid-area: time;
  border-radius: 0 0 1vw 1vw;
}

.countdownContainer {
  grid-area: clck;
  border-radius: 1vw 1vw 0 0;
}
