.stylednumber {
  display: inline;
  text-align: center;
  color: white;
  font-weight: 600;

  background-color: #ff5b7e;
  border: 1px solid rgba(255,255,255,0.47);
  width: 1.5em;
  border-radius: 1em;

  margin-right: 0.5em;
}
