.infoLabel {
  display: flex;
  align-items: center;
  gap: $element-spacing;
  padding: 1rem;
  margin-bottom: 1rem;

  background-color: $gray-1100;
  border-radius: 2px;
  font-size: $inner-section-text-size;

  svg {
    font-size: 1.5rem;
    color: $info-blue;
  }
}
