.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.actions {
  display: flex;
  gap: 0.5px;
}

.actionButtons {
  display: flex;
  gap: 1em;
}

.fieldForm {
  padding: 1rem;
  background-color: $gray-1350;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.fit {
  width: fit-content;
}

.aliasConstrain {
  min-width: 12em;
}

.flex {
  display: flex;
}

.twoCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
