.chip {
  background-color: $gray-1100;
  white-space: nowrap;

  font-size: calc(1rem - 3px);
  color: $label-gray;
  padding: 0.125rem 0.5rem;
  border-radius: 2px;
  
  &.over {
    color: $playback-negative;
  }
  
  &.under {
    color: $playback-ahead;
  }
  
  &.ontime {
    color: $ontime-color;
  }

  &.due {
    color: $warning-orange;
  }
}
