// TODO: unify with RundownWrapper.module.scss
$editor-width: 25rem;

.eventEditor {
  min-width: $editor-width;
  background-color: $gray-1350;
  max-height: 100%;
  overflow-y: auto;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  padding: 1rem;
}

.content {
  padding: 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.footer {
  padding: 1rem;
}

.timeSettings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel {
  display: block;
  font-size: calc(1rem - 3px);
  color: $label-gray;
  margin-bottom: 0.25rem;

  &.delayLabel {
    color: $ontime-delay-text;
  }
}

.switchLabel {
  font-size: calc(1rem - 3px);
  color: $label-gray;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: max-content;
  cursor: pointer;
}

.inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.splitTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}

.eventActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
