@use '../../../theme/ontimeColours' as *;
@use '../../../theme/v2Styles' as *;

@mixin input-label() {
  font-size: calc(1rem - 3px);
  color: $label-gray;
}

// TODO: unify with RundownWrapper.module.scss
$editor-width: 25rem;

.eventEditor {
  min-width: $editor-width;
  background-color: $gray-1350;
  max-height: 100%;
  overflow-y: auto;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  padding: 1rem;
}

.content {
  padding: 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.footer {
  padding: 1rem;
}

.timeSettings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel {
  display: block;
  @include input-label;

  &.delayLabel {
    color: $ontime-delay-text;
  }

  &.publicToggle {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
  }
}

.inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.splitTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.eventActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
