.eventEditor {
  color: $label-gray;
  max-height: 100%;
  overflow-y: auto;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.content {
  padding-right: 4px;
  padding-bottom: 4rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid $white-10;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.timeSettings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputLabel {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  font-size: calc(1rem - 3px);
  color: $label-gray;
  margin-bottom: 0.25rem;
}

.decorated {
  color: var(--decorator-color, $ui-white);
  background-color: var(--decorator-bg, $gray-1100);
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 2px;
}

.delayLabel {
  font-size: calc(1rem - 3px);
  color: $ontime-delay-text;
  margin-top: 0.25rem;

  &::after {
    content: '\200b';
  }
}

.switchLabel {
  font-size: calc(1rem - 3px);
  color: $label-gray;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: max-content;
  cursor: pointer;
}

.inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.splitTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1rem;
}
