.editorActions {
  width: 100%;
}

.right {
  align-self: end;
  text-align: right;
}

.column {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.editorBody {
  position: relative;
  background-color: $gray-1350;
  border: 1px solid $gray-1100;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
}
