$min-playback-width: 27rem;
$max-playback-width: 30rem;

.panelContainer {
  grid-area: main;

  display: flex;
  gap: $panel-gap;
  overflow: hidden;
}

.left {
  flex: 1 2 auto; /* flex-grow: 1, flex-shrink: 2, flex-basis: auto */
  min-width: $min-playback-width;
  max-width: $max-playback-width;
  display: flex;
  flex-direction: column;
  gap: $panel-gap;
}
