$min-playback-width: 27rem;
$max-playback-width: 30rem;

.panelContainer {
  grid-area: main;

  display: flex;
  gap: $panel-gap;
  overflow: hidden;
  height: 100%;
  min-height: 0;
}

.panelContainerTracking {
  flex-direction: column;
  min-height: 0;
}

.left {
  flex: 1 2 auto; /* flex-grow: 1, flex-shrink: 2, flex-basis: auto */
  min-width: $min-playback-width;
  max-width: $max-playback-width;
  display: flex;
  flex-direction: column;
  gap: $panel-gap;
}

.rundownLayout {
  flex: 1 1 auto;
  display: flex;
  gap: $panel-gap;
  min-width: 0;
  min-height: 0;
}

.rundownPanel {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.titlesPanel {
  // align rundown start with the + - buttons in the playback controls
  // start + iconbtn + iconbt + 2 x gap
  $overview-width: calc(8rem + 5rem + 5rem + 2rem);

  flex: 0 0 $overview-width;
  min-width: $overview-width;
  max-width: $overview-width;
}
