.mainContainer {
  background-color: $ui-black;
  width: 100%;
  height: 100%;
  color: $ui-white;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3.5rem 1fr;
  grid-template-areas:
    'overview'
    'main';
  gap: $panel-gap;
}
