.timeLabel {
  position: absolute;
  z-index: 100;
  font-size: 0.75rem;
  font-weight: 600;
  top: -5px;
  right: -1px;
  color: inherit;
  margin: 0.1rem;
}

.timeAction {
  opacity: 0.4;
  cursor: pointer;
  margin-right: 0.5em;
  background: transparent;
  color: white;

  &.active {
    opacity: 1;
    color: var(--status-color-active-override, $active-indicator);
  }
  .fourtyfive {
    transform: rotate(-45deg);
  }
}

.timerNote {
  color: $blue-500;
  margin-right: 0.5rem;
  font-size: 1.5em;
  display: grid;
}
