.inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

// attempt to match with ontimeTextInputs
.input {
  color: $gray-200;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: $gray-1200;
  padding: 0 1rem;
  font-size: 1rem;
  height: 2.5rem;
  outline: none;

  &:hover {
    background-color: $gray-1100;
  }

  &:focus {
    background-color: $gray-1000;
    color: $gray-50;
    border: 1px solid $blue-500;
  }
}
