.multiOptionList {
  overflow-y: auto;
  max-height: 12rem;
  background: $gray-1200;
  border: 1px solid $gray-1100;
  border-radius: $component-border-radius-md;
}

.toggleSelect {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  min-height: 2.5rem;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 0;
  color: $gray-300;
  line-height: 1em;
  cursor: pointer;
  transition:
    background-color $transition-time-action,
    border-color $transition-time-action,
    color $transition-time-action;

  &:hover {
    background: $gray-1000;
    color: $ui-white;
  }

  &:active {
    background: $gray-1100;
  }

  &:focus-within {
    outline: 2px solid $blue-500;
    outline-offset: -2px;
  }

  &.selected {
    background: $bg-active;
    box-shadow: inset 3px 0 $blue-400;
    color: $ui-white;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $white-7;
  }

  > [role='checkbox'] {
    flex: 0 0 auto;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid $gray-400;

    &[data-unchecked] {
      background: $gray-1100;
    }

    &[data-checked] {
      border-color: $blue-400;
    }

    &:focus-visible {
      outline: 0;
    }
  }

  &::after {
    content: '';
    flex: 0 0 auto;
    margin-left: auto;
    width: 0.625rem;
    height: 0.625rem;
    background: var(--user-bg, $gray-900);
    border-radius: 50%;
  }
}

.empty {
  color: $ui-white;
}
