.inline {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

// styles from subtle button
.toggleSelect {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-inline: 0.5rem;
  height: 2.5rem;
  background: $gray-1050;
  color: $ui-white;
  line-height: 1em;
  border-radius: $component-border-radius-md;

  &:hover:not(:disabled):not(:active) {
    background: $gray-1000;
    color: $blue-500;
  }

  &:active:not(:disabled) {
    background: $gray-1100;
    border-color: $gray-1250;
  }

  &::after {
    content: '';
    margin-left: 0.25rem;
    width: 0.75em;
    height: 0.75em;
    background: var(--user-bg, $gray-900);
    border-radius: 50%;
  }
}

.empty {
  color: $ui-white;
}
