.drawerFooter {
  display: flex;
  justify-content: start;
  gap: $section-spacing;

  button[type='reset'] {
    padding: 0 2em;
    margin-right: auto;
  }

  button[type='submit'] {
    padding: 0 2em;
  }
}

.label {
  font-size: $inner-section-text-size;
  color: $label-gray;
}

.columnSection {
  display: flex;
  padding: $section-spacing 0;
  flex-direction: column;
  gap: $element-spacing;
}

.title {
  font-size: $inner-section-text-size;
  display: block;
  width: 100%;
}

.description {
  font-size: $inner-section-text-size;
  display: block;
  color: $modal-note-color;
}
