.drawerFooter {
  display: flex;
  justify-content: end;
  gap: $section-spacing;

  button {
    padding: 0 2em;
  }
}

.label {
  font-size: $inner-section-text-size;
  color: $label-gray;
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}

.columnSection {
  display: flex;
  padding: $section-spacing 0;
  flex-direction: column;
  gap: $element-spacing;
}

.title {
  font-size: $inner-section-text-size;
  display: block;
  width: 100%;
}

.description {
  font-size: $inner-section-text-size;
  display: block;
  color: $modal-note-color;
}
