.presetSection {
  background-color: $gray-1350;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

.preset {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.active {
    color: $blue-500;
  }
}

.presetActions {
  margin-left: auto;
}
