@use '../../styles/main' as *;

//////////////////////////////////// main

.modalBody {
  font-weight: 400;

  .notes {
    font-weight: 400;
    color: $light-bg;
    padding: 1.5em 0;
  }

  .modalFields {
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: auto;
    scrollbar-color: rgba($light-bg, 0.35) rgba($light-bg, 0.15);

    label {
      //font-weight: 400;
      font-size: 0.8em;
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba($light-bg, 0.15);
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba($light-bg, 0.35);
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgba($light-bg, 0.45);
  }

  .modalInline {
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 0 0.5em;
  }

  .pin {
    display: flex;
    gap: 0.5em;
    border-radius: 50%;

    input {
      border-radius: 50%;
    }
  }

  .submitContainer {
    display: flex;
    flex-direction: row-reverse;

    button {
      margin-top: 1em;
    }
  }

}

.modalBody > * {
  margin-top: 0.5em;
}

//////////////////////////////////// notes
p {
  &.notes {
  text-align: center;
  border-color: $light-bg-transparent;
  border-width: 0 2px;
  font-size: 0.9em;
  margin-bottom: 1em;
  }
}

span {
  &.notes {
    font-size: 0.9em;
    padding-left: 0.4em;
  }
}

.highNotes {
  background-color: $light-text;
  margin: 1em 0;
  padding: 0.3em;
  font-size: 0.9em;

  table {
    background-color: $light-text;
    width: 100%;
    margin-top: 0.3em;
  }

  .noteItem {
    user-select: text;
    font-weight: 700;
    padding-right: 2em;
  }

  .flexNote {
    user-select: text;
    padding-bottom: 0.3em;
  }

  .emNote {
    user-select: text;
    display: block;
    background-color: #fffc;
  }
}
