.modalBody {
  font-weight: 400;
}

.modalBody > * {
  margin-top: 0.5em;
}

.modalBody > button {
  margin-top: 1em;
}

.notes {
  font-weight: 400;
  color: #2b6cb0;
}

p.notes {
  text-align: center;
  border-color: #2b6cb055;
  border-width: 0 2px;
  font-size: 0.9em;
  margin-bottom: 1em;
}

span.notes {
  font-size: 0.8em;
  padding-left: 0.4em;
}

.modalInline {
  display: flex;
  gap: 2em;
}

.highNotes {
  background-color: #2b6cb022;
  margin: 1em 0;
  padding: 0.3em;
}

.flexNote {
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

a::after {
  content: '  \2197';
  color: #ff7597;
}

a:hover {
  color: #ff7597;
}

.separator {
  border: 1px solid #2b6cb055;
  width: 50%;
  margin: 0.5em auto;
}
