@use '../../../theme/viewerDefs' as *;

.clock-view {
  background: var(--background-color-override, $viewer-background-color);
  height: 100vh;
  color: var(--color-override, $viewer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border: 1vw solid transparent;

  .clock {
    font-family: "Arial Black", sans-serif;
    font-size: 20vw;
    position: relative;
    color: var(--timer-color-override, $viewer-color);
    opacity: 1;
    transition: 0.5s;
    transition-property: opacity;
    background-color: transparent;
  }
}
