@use '../blockMixins' as *;

.block {
  @include block-styling;

  background-color: $block-bg2;

  min-width: 34rem;
  display: grid;
  grid-template-columns: 2rem 1fr auto;
  align-items: center;
  height: $secondary-block-height;
  gap: 0.5rem;

  &.hasCursor {
    outline: 1px solid $block-cursor-color;
  }
}

.drag {
  @include drag-style;
}
