@use '../../styles/main' as *;

.emptyContainer {
  width: 100%;
  text-align: center;
}

.empty {
  width: 100%;
  opacity: 0.3;
}

.text {
  color: $bg-black-300;
  font-weight: 600;
  font-size: 2em;
}
