.emptyContainer {
  text-align: center;
  color: rgba(0, 0, 0, 0.17);
  font-weight: 600;
  font-size: 2em;
  width: 100%;
}
.empty {
  width: 100%;
  margin: auto 0;
  opacity: 0.3;
}

.text {
  text-align: center;
}
