$inner-padding: 1rem;

.header {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $white-10;
  font-weight: 600;
}

.subheader {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.375rem;
  padding: 0 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray-300;
}

.section {
  margin-top: 2rem;
  font-size: calc(1rem - 1px);
  max-width: 800px;
}

.paragraph {
  padding: 0.5rem 0;
}

.card {
  padding: 2rem;
  background-color: $white-1;
  border: 1px solid $gray-1100;
  border-radius: 3px;
}

.error {
  font-size: $inner-section-text-size;
  display: block;
  color: $error-red;
}

.pad {
  padding: 0 1rem;
  max-height: 550px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: calc(1rem - 2px);
  text-align: left;

  tr {
    padding: 1rem 0;
  }

  th {
    border-bottom: 1px solid $white-10;
    font-weight: 400;
    color: $gray-400;
  }

  th,
  td {
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background-color: $white-1;
  }
}

.listGroup {
  padding: 1rem 2rem 0 2rem;

  > li:not(:last-child) {
    border-bottom: 1px solid $white-10;
  }
}

.listItem {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0.5rem 0;
}

.fieldTitle {
  color: $ui-white;
  font-size: 1rem;
}

.fieldDescription {
  font-size: calc(1rem - 2px);
  color: $gray-400;
}

.fieldError {
  font-size: calc(1rem - 2px);
  color: $red-500;
}

.divider {
  border-top: 1px solid $white-10;
  margin: 1rem -2rem;
}
