@use '../../theme/ontimeColours' as *;
@use '../../theme/v2Styles' as *;

$menu-width: 2.75rem;
$rundown-width: 44.5rem;
$playback-width: 26rem;

@mixin absolute-top-right($distance) {
  position: absolute;
  top: $distance;
  right: $distance;
  cursor: pointer;
  color: $ui-white;
  transition-property: color;
  transition-duration: $transition-time-action;
  &:hover {
    color: $ontime-color;
  }
}

.corner {
  display: none;
  @include absolute-top-right(0.5rem);
  transform: rotate(45deg);
}

.mainContainer {
  background: $ui-black;
  width: 100%;
  height: 100%;
  margin: auto;
  color: $ui-white;
  padding: 1rem 0.5rem;
  font-family: $ontime-font-family;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: $menu-width $rundown-width $playback-width auto;
  grid-template-areas:
    'sett rundown play info'
    'sett rundown mess info';
  gap: 0.5rem;

  .rundown,
  .playback,
  .messages,
  .info,
  .settings {
    position: relative;

    .corner {
      display: inline;
    }
  }
}

/* 2/3 window, hide info */
@media (max-width: 1450px) and (min-height: 700px) {
  .mainContainer {
    height: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: $menu-width 1fr $playback-width;

    .info {
      visibility: hidden;
    }
  }
}

/* 3/3 window |we want to decide the width for the content based on the screen size at this stage */
@media (min-width: 2075px) {
  .mainContainer {
    height: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2vw 35vw 30vw auto; 
  }
}
/* 1/2 window, event list only */
@media (max-width: 1100px) {
  .mainContainer {
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: $menu-width $rundown-width;
    grid-template-areas:
      'sett rundown';

    .info,
    .messages,
    .playback {
      visibility: hidden;
    }
  }
}

/* 1/3 window, show control only */
@media (max-width: 850px) and (min-height: 500px) {
  .mainContainer {
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
      'play'
      'mess';

    .playback,
    .messages {
      visibility: visible;
    }

    .rundown,
    .info,
    .settings {
      visibility: hidden;
    }
  }
}

/* 1/3 corner window, playback only */
@media (max-width: 850px) and (max-height: 500px) {
  .mainContainer {
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-template-areas: 'play';

    .playback {
      visibility: visible;
    }

    .rundown,
    .messages,
    .info,
    .settings {
      visibility: hidden;
    }
  }
}

.mainContainer {
  .settings,
  .rundown,
  .messages,
  .playback,
  .info {
    border-radius: 8px;
    height: 100%;
    background-color: $bg-container-l2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.eventEditor {
  border-radius: 8px 8px 0 0;
  background-color: $bg-container-l2;
  box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px 6px;
  border-top: 1px solid $white-20;
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
  z-index: 10;
  color: white;
  transition: bottom $transition-time-feedback;

  &.noEvent {
    bottom: -500px;
    transition: bottom 0.7s;
  }

  .eventEditorLayout {
    display: flex;
  }

  .header {
    background-color: $gray-1200;
    padding: 0.5rem;
    border-left: 1px solid $white-10;
    border-radius: 0 8px 0 0;
  }
}

.rundown {
  grid-area: rundown;
  height: 100%;

  .content {
    height: calc(100% - 1.5rem);
    overflow: hidden;
  }
}

.info {
  grid-area: info;
  min-width: 17em;

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.messages {
  grid-area: mess;
  min-width: 24rem;
}

.playback {
  grid-area: play;
  max-height: 380px;
  min-width: 26rem;
}

.mainContainer > .settings {
  grid-area: sett;
  background-color: transparent;
  margin: 0;
  padding: 0 0.5rem 0 0;
  width: auto;

  display: flex;
  flex-direction: column;
}


.mainContainer > .rundown {
  padding: 1rem 0;
}

.content {
  padding-top: 1.5rem;
}

.rundown {
  .content {
    padding-top: 0.5rem;
  }
}
