@use '../../theme/ontimeColours' as *;
@use '../../theme/ontimeStyles' as *;

// declare editor specific styling constants
:root {
  --editor--panel__br: 8px;
}

@mixin panel() {
  display: flex;

  position: relative;
  border-radius: var(--editor--panel__br);
  height: 100%;
  background-color: $bg-container-l2;
  padding: 1rem;
}
