@use './EditorMixin' as editor;

$menu-width: 2.75rem;
$playback-width: 26rem;

.corner {
  @include editor.corner;
}

.mainContainer {
  background: $ui-black;
  width: 100%;
  height: 100%;
  color: $ui-white;
  padding: 1rem 0.5rem;
  
  display: grid;
  grid-template-columns: $menu-width auto;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: 
    'menu overview'
    'menu main';
  gap: 0.5rem;
}

.panelContainer {
  grid-area: main;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr $playback-width;
  grid-template-areas:
    'rundown play'
    'rundown mess';
  gap: 0.5rem;
  overflow: hidden;


  .corner {
    /* we show this if the component hasnt been extracted */
    display: inline;
  }

  .rundown,
  .playback,
  .messages {
    position: relative;
    border-radius: 8px;
    height: 100%;
    background-color: $bg-container-l2;
    padding: 1rem;
  }
}

.messages {
  grid-area: mess;
  min-width: 24rem;
}

.playback {
  grid-area: play;
  max-height: 380px;
  min-width: 26rem;
}

.content {
  padding-top: 1.5rem;
}
