@import '../CuesheetTable.module.scss';

.delayRow {
  width: calc(100vw - 2rem);
  color: $ontime-delay-text;
  border-left: 4px solid var(--user-bg);

  td {
    width: 100%;
    padding-block: 0.5rem;
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
