@use '../cuesheetRows' as rows;
@include rows.cuesheet-row-columns;

.delayRow {
  color: $ontime-delay-text;
  border-left: 4px solid transparent;

  td {
    width: calc(100% - 4px);
    padding-block: 0.5rem;
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
