@use '../cuesheetRows' as rows;
@include rows.cuesheet-row-columns;

.loadingRow {
  opacity: 0.8;
  background: color-mix(in srgb, $blue-900, transparent 50%);
  border-left: 4px solid $blue-500;
  min-height: 2.5rem;

  td {
    padding: 0.5rem;
  }

  .loadingCell {
    color: $gray-500;
    font-style: italic;
    background-color: $gray-1200;
    border-radius: 2px;
  }
}
