{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "rules": {
    "prettier/prettier": ["error", {
      "endOfLine": "auto",
      "singleQuote": true,
      "printWidth": 100
    }]
  }
}
