@use '../../theme/viewerDefs' as *;

.project {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100vh;

  font-family: var(--font-family-override, $viewer-font-family);
  background: var(--background-color-override, $viewer-background-color);
  color: var(--color-override, $viewer-color);
  padding: $view-outer-padding;
  font-size: $base-font-size;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    max-width: min(200px, 30vw);
  }

  .info {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    width: min(calc(100vw - 4rem), 800px);
  }

  .info__label {
    font-weight: 600;
    color: var(--label-color-override, $viewer-label-color);
    text-transform: uppercase;
    margin-top: $view-element-gap;
    white-space: pre;
  }

  a.info__value {
    color: $action-text-color;
    &:hover {
      color: $ontime-color;
    }
  }

  .custom_data {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

/* =================== MOBILE ===================*/
@media screen and (max-width: 768px) {
  .project {
    .logo img {
      height: min(50px, 10vh);
    }
  }
}
