@use '../../../theme/main' as *;
@use '../blockMixins' as *;

/* ============= COMMON ============= */

.delay {
  @include block-spacing;

  display: grid;
  grid-template-columns: 32px 1fr auto;
  grid-template-areas: 'drag inpt btns';
  align-items: center;
  height: 40px;

  border-radius: $block-border-radius $block-border-radius 2px 2px;
  background-color: rgba(214, 158, 46, 0.4);
  background: linear-gradient(
                  180deg,
                  rgba(214, 158, 46, 0.4) 0%,
                  rgba(214, 158, 46, 0.4) 20%,
                  rgba(214, 158, 46, 0.17) 21%
  );
}

/* ================ DRAG ================ */

.drag {
  grid-area: drag;
  @include drag-style;
}

/* =============== INPUT ================ */

.input {
  grid-area: inpt;
}

/* ============== ACTION ================ */

.actionOverlay {
  @include action-overlay;
}

.delay:hover > .actionOverlay {
  @include block-hover;
}

/* NA */
.actionOverlay:hover {
  opacity: 1;
}
