@use '../../../theme/viewerDefs' as *;

.progress-bar__bg {
  width: 100%;
  height: 16px;
  border-radius: 8px;
  background-color: var(--card-background-color-override, $viewer-card-bg-color);
}

.progress-bar__indicator {
  height: 16px;
  border-radius: 8px;
  background-color: var(--accent-color-override, $accent-color);
  transition: 1s linear;
  transition-property: width;
}
