.editable,
.delayedEditable {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  width: 6.5em;
  letter-spacing: 1px;
  height: fit-content;

  text-align: center;
  border-radius: 4px;
}

.delayedEditable {
  border: 1px solid #d69e2e55;
}
