.title,
.titleUnderlined {
  padding-left: 1em;
  font-size: 0.8em;
  color: #aaa;
  display: inline-block;
  width: 6em;
  cursor: default;
}

.titleUnderlined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.block {
  display: 'block';
}

.inline {
  display: inline;
}

.editable13 {
  width: '13em';
  min-width: '13em';
}
