.title {
  padding-left: 1em;
  font-size: 0.75em;
  color: #aaa;
  display: inline-block;
  width: 6em;
}

.block {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  *:nth-of-type(2) {
    flex: 1;
    width: 20em;
  }

}

.inline {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
