@use '../../styles/main' as *;

.block {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;

  .title {
    padding-left: 1em;
    font-size: 0.75em;
    color: $label-gray;
    display: inline-block;
    min-width: 6em;
  }

  .preview {
    color: $bg-gray-500;
  }

  .inline {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
}
