.time {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  width: 5em;
  height: fit-content;
}

.editable,
.delayedEditable {
  text-align: center;
  border-radius: 4px;
}

.delayedEditable {
  border: 1px solid #d69e2e88;
}

.delayValue {
  color: #fff;
  border-radius: 4px;
  padding: 0.3em 0;
  text-align: center;
  align-self: flex-start;
  border: 1px solid #d69e2e88;
  background-color: #d69e2e22;
}
