.title {
  padding-left: 1em;
  font-size: 0.75em;
  color: #aaa;
  display: inline-block;
  width: 6em;
}

.block {
  display: 'block';
  overflow: hidden;
}

.inline {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
