@use '../../../theme/v2Styles' as *;

.header {
  font-size: $inner-section-text-size;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: $section-white;
  margin-top: $main-spacing;
  border-bottom: 1px solid $border-color-ondark;
  padding-bottom: $element-inner-spacing;
  margin-bottom: $element-spacing;
  cursor: pointer;
}

.moreExpanded {
  transform: scaleY(-1);
  transition: transform $transition-time-feedback;
}

.moreCollapsed {
  transform: scaleY(1);
  transition: transform $transition-time-feedback;
}
