@use '../../theme/ontimeColours' as *;

.gap {
  height: 1em;
}

.open {
  background: $blue-700;
}

.init {
  color: $blue-500;
}

.u1sec {
  color: $green-500;
}

.u1min {
  color: $orange-500;
}

.o1min {
  color: $red-500;
}
