@use '../../../styles/main' as *;
@use '../../../styles/mixins' as *;

.messageContainer,
.onAirToggle {
  @include main-container;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

.messageContainer {
  flex-direction: column;

  .inputItems {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
  }

  .label {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    color: #ccc;
  }

  .inline {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .padleft {
    padding-left: 0.5em;
  }
}

.onAirToggle {
  margin-top: 1em;
  align-items: center;
  display: grid;
  grid-template-areas:
    'btn label'
    'btn osc';
  grid-template-columns: 2.5em 1fr;
  grid-template-rows: 1.2em 0.8em;

  .btn {
    grid-area: btn;
  }

  .onAirLabel {
    grid-area: label;
    font-size: 1.2em;
  }

  .oscLabel {
    @include osc-label;
    grid-area: osc;
  }
}
