@use '../../theme/ontimeColours' as *;

$block-gap: 4px;
$block-element-spacing: 4px;
$block-binder-width: 32px;
$block-clearance: 8px;
$block-border-radius: 8px;
$block-text-color: $gray-50;
$block-bg: $gray-1200;
$block-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 2px;

@mixin block-spacing() {
  padding: 4px 10px 4px 2px;
  gap: 2px;
}

@mixin action-overlay() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0.6;
  transition: linear 0.1s;
}

@mixin block-hover() {
  opacity: 1;
  transition: linear 0.1s;
}

@mixin drag-style() {
  font-size: 20px;
  text-align: center;
  opacity: 0.3;
  cursor: grab;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
