@use '../../theme/main' as *;
@use '../../theme/mixins' as *;

.eventContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.empty {
  opacity: 0.3;
  align-self: center;
}

.alignCenter {
  text-align: center;
  flex-direction: column;
  button {
    margin-top: 24px;
  }
}
