.timelineContainer {
  grid-area: timeline;
  width: 100%;
  padding: 0.25rem;
  background-color: black;
  color: black;
}

.timeline {
  background-color: rgba(white, 0.1);
}

.timelineEvent {
  height: 1rem;
  font-size: calc(1rem - 2px);
  display: inline-block;
  width: 0px;
  background-color: rgba(white, 0.8);
  border-left: 1px solid black;
  border-radius: 2px;
  padding-left: 0.25rem;

  &.isPlaying {
      background-color: red;
  }
}
