.progress {
  width: 100vw;
  height: 100vh;

  background-color: $ui-black;
  color: $ui-white;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  padding-inline: 2rem;
  text-align: left;
  font-size: 3.5rem;
}

.sections {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
}

.sectionTitle {
  line-height: 1.2em;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.sectionContent {
  line-height: 1em;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;

  &.now {
    color: $green-500;
  }

  &.next {
    color: $red-500;
  }

  &.subdue {
    opacity: $opacity-disabled;
  }
}
