@use '../../theme/ontimeColours' as *;
@use '../../theme/v2Styles' as *;

.container {
  grid-area: main;

  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  gap: 2px;

  overflow: hidden;
}
