@use "../../../../theme/_ontimeColours" as *;
@use "../../../../theme/_v2Styles" as *;

.swatch {
  width: 28px;
  height: 28px;
  border-radius: $component-border-radius-sm;
  border: 1px solid $gray-200;
  cursor: pointer;
}
