.entries {
  display: flex;
  flex-direction: column;
}

.navItem,
.navItemSelected {
  background-color: rgba(255, 255, 255, 0.39);
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 0.35vw;
}

.navItemSelected {
  background-color: rgba(255, 255, 255, 0.79);
}

.nav {
  align-self: center;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2.5vh;
}

.nav > div {
  margin-left: 0.5vw;
}

.entryStart,
.entryEnd {
  font-family: 'Open Sans', sans-serif;
  min-width: 5vw;
  opacity: 0.9;
}

.entryTitle {
  align-self: center;
}

.entryPast,
.entryNow,
.entryFuture {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  font-size: 1.3vw;
  padding: 0.2vh 1vw;
  margin-bottom: 1.5vh;
}

.entryPast {
  color: #aaa;
  font-size: 1.2vw;
}

.entryFuture {
  color: #ddd;
}

.entryNow {
  color: #fff;
  line-height: 5vh;
  background-color: rgba(255, 255, 255, 0.09);
  border-bottom: 0.5vh solid #ff7597aa;
  margin-left: -0.5vw;
}
