.entries {
  display: flex;
  flex-direction: column;
}

.navItem,
.navItemSelected {
  background-color: rgba(255, 255, 255, 0.39);
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 0.35vw;
}

.navItemSelected {
  background-color: rgba(255, 255, 255, 0.79);
}

.nav {
  align-self: center;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2.5vh;
}

.nav > div {
  margin-left: 0.5vw;
}

.entryTimes {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4vw;

  min-width: 10vw;
  opacity: 0.9;
  letter-spacing: 0.035em;
}

.entryTitle {
  align-self: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryPast,
.entryNow,
.entryFuture {
  display: flex;
  font-size: 1.3vw;
  padding: 0.2vh 1vw;
  margin-bottom: 1.5vh;
  border-radius: 3px;
}

.entryPast {
  background-color: rgba(255, 255, 255, 0.01);
  font-size: 1.2vw;
}

.entryPast > .entryTitle {
  color: #999;
}

.entryFuture {
  background-color: rgba(255, 255, 255, 0.03);
  color: #ddd;
}

.entryNow {
  color: #fff;
  line-height: 5vh;
  background-color: rgba(255, 255, 255, 0.07);
  border-bottom: 0.5vh solid #ff7597aa;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

.backstageInd {
  color: #ff7597aa;
  margin-left: auto;
  margin-right: -0.5vw;
}

.backstageInd::before {
  content: '*';
}
