@use '../../../theme/main' as *;

.label {
  @include card-label;
}

.title,
.subtitle,
.presenter {
  @include ellipsis;
}

.title {
  @include card-title;
  font-size: 2.5vw;
  flex: 1;
}

.subtitle,
.presenter {
  color: $subtitle-gray;
}

.subtitle {
  font-size: 1.5vw;
  font-weight: 200;
  margin-top: -0.8vh;
}

.presenter {
  font-size: 2vw;
}

.title:after,
.presenter:after,
.subtitle:after {
  content: '\200b';
}
