:root {
  --background-color-override: #ececec;
  --color-override: #101010;
  --secondary-color-override: #404040;
  --accent-color-override: #FA5656;
  --label-color-override: #6c6c6c;
  --timer-color-override: #202020;
  --card-background-color-override: #FFF;
}

.timer {
  font-family: "Arial Black", serif !important;
}
