.entryEditor {
  color: $label-gray;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.shortcutSection {
  flex: 1;
  margin-top: 15vh;
  margin-inline: auto;
  gap: 1rem;
}

.shortcuts {
  font-size: calc(1rem - 3px);
  border-collapse: separate;
  border-spacing: 4rem 0;

  tr {
    white-space: nowrap;
    td:nth-child(odd) {
      text-align: left;
    }
    td:nth-child(even) {
      text-align: right;
    }
  }
}

.spacer {
  height: 1rem;
}

.prompt {
  margin-left: 4rem;
}

.divider {
  display: inline-block;
  text-align: center;
  width: 1em;
}

.kbd {
  font-family: monospace;
  white-space: nowrap;
  font-size: calc(1rem - 2px);
  padding: 0.125rem 0.5rem;
  background-color: $gray-1200;
  color: $ui-white;
  border-radius: 2px;
  font-weight: 400;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}
