.textEntry {
  grid-area: input;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $label-gray;
}

.inlineEntry {
  display: grid;
  grid-template-areas:
    'label label'
    'input btn';
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
}

.redirect {
  grid-area: btn;
}

.label {
  color: $label-gray;
}
