@use '../../../../theme/ontimeColours' as *;

.list {
  display: flex;
  gap: 0.5rem
}

.swatch {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 99px;
  border: 2px solid $gray-1200;

  &.selected {
    border: 2px solid $blue-500;
  }
}

.center {
  display: grid;
  place-content: center;
  color: $ui-white;
}
