.timeContainer {
  display: grid;
  grid-template-areas:
    'indicators clock  buttons'
    'status     status buttons';
  grid-template-rows: 1fr auto;
  grid-template-columns: 1.25rem 1fr auto;
  gap: $element-inner-spacing;
}

.indicators {
  grid-area: indicators;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indicatorRoll,
.indicatorDelay,
.indicatorNegative {
  background-color: $black-10;
}

.indicatorRoll,
.indicatorDelay {
  margin: 0 auto;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.indicatorNegative {
  margin: 0 auto;
  width: 90%;
  height: 0.25rem;

  &[data-active='true'] {
    background-color: $ontime-delay;
  }
}

.indRoll[data-active='true'] {
  background-color: $ontime-roll;
}

.indicatorDelay[data-active='true'] {
  background-color: $playback-negative;
}

.addSlot {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  gap: $element-inner-spacing;
}

.status {
  height: 1.5rem;
  grid-area: status;
  display: flex;
  gap: 1rem;
}

.tag {
  color: $label-gray;
  font-size: calc(1rem - 2px);
  margin-right: 0.25rem;
}

.time {
  color: $section-white;
  font-size: $text-body-size;
}

.rolltag {
  color: $ontime-roll;
  font-size: $text-body-size;
}
