.timeContainer {
  display: grid;
  grid-template-areas:
    'indicators timer  addtime'
    'status     status addtime';
  grid-template-rows: 1fr auto;
  grid-template-columns: 1.25rem 1fr 6.5rem;
  gap: $element-inner-spacing;
}

// ---------> INDICATORS

.indicators {
  grid-area: indicators;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indRoll,
.indDelay,
.indNegative {
  background-color: $black-10;
}

.indRoll,
.indRollActive,
.indDelay,
.indDelayActive {
  margin: 0 auto;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.indRollActive {
  background-color: $ontime-roll;
}

.indNegative,
.indNegativeActive {
  margin: 0 auto;
  width: 90%;
  height: 0.25rem;
}

.indNegativeActive {
  background-color: $playback-negative;
}

.indDelayActive {
  background-color: $ontime-delay;
}

// ---------> LABELS

.status {
  grid-area: status;
  height: 1.5rem;
  display: flex;
  gap: $section-spacing;
}

.tag {
  color: $label-gray;
  font-size: calc(1rem - 2px);
  margin-right: 0.25rem;
}

.time {
  color: $section-white;
  font-size: $text-body-size;
}

.rolltag {
  color: $ontime-roll;
  font-size: $text-body-size;
}
