.timeContainer {
  display: grid;
  grid-template-areas:
    'ind clk clk btn'
    '... sta fin btn';
  grid-template-rows: 1fr auto;
  grid-template-columns: 1.25rem 1fr 1fr 5rem;
  gap: $element-inner-spacing;
  justify-items: start;
}

.indicators {
  grid-area: ind;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indRoll,
.indDelay,
.indNegative {
  background-color: $black-10;
}

.indRoll,
.indRollActive,
.indDelay,
.indDelayActive {
  margin: 0 auto;
  border-radius: 6px;
  width: 12px;
  height: 12px;
}

.indRollActive {
  background-color: $ontime-roll;
}

.indNegative,
.indNegativeActive {
  margin: 0 auto;
  width: 90%;
  height: 0.25rem;
}

.indNegativeActive {
  background-color: $playback-negative;
}

.indDelayActive {
  background-color: $ontime-delay;
}

.btn {
  grid-area: btn;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: $element-inner-spacing;
}

.minus {
  grid-area: min;
  display: flex;
  flex-direction: column;
}

.start,
.finish,
.roll {
  height: 1.5rem;
}

.start {
  grid-area: sta;
}

.finish {
  grid-area: fin;
}

.roll {
  grid-area: 2 / 2 / 2 / 4 ;
}

.tag {
  color: $label-gray;
  font-size: calc(1rem - 2px);
  margin-right: 0.25rem;
}

.time {
  color: $section-white;
  font-size: $text-body-size;
}

.rolltag {
  color: $ontime-roll;
  font-size: $text-body-size;
}
