.timeContainer {
  display: grid;
  grid-template-areas: 'indicators timer addtime';
  grid-template-columns: 1.25rem 1fr 6.5rem;
  gap: $element-inner-spacing;
}

// ---------> INDICATORS

.indicators {
  grid-area: indicators;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indicatorRoll,
.indicatorDelay,
.indicatorNegative {
  background-color: $black-10;
}

.indicatorRoll,
.indicatorDelay {
  margin: 0 auto;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.indicatorRoll[data-active='true'] {
  background-color: $ontime-roll;
}

.indicatorDelay[data-active='true'] {
  background-color: $ontime-delay;
}

.indicatorNegative {
  margin: 0 auto;
  width: 90%;
  height: 0.25rem;

  &[data-active='true'] {
    background-color: $playback-negative;
  }
}
