.container__gray,
.container__grayFinished {
  background: radial-gradient(circle, #202020 0%, #121212 80%);
  height: 100vh;
  color: #fffd;
  display: grid;
  grid-template-columns: 1fr 1fr 5vw 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    ' clck .... .... .... ....'
    ' timr timr timr timr timr'
    ' prog prog prog prog prog'
    ' now  now  .... next next';
  gap: 1vw;
}
.container__graySimple,
.container__grayFinishedSimple {
  background: radial-gradient(circle, #202020 0%, #121212 80%);
  height: 100vh;
  color: #fffd;
  display: grid;
  grid-template-columns: 1fr 1fr 5vw 1fr 1fr;
  grid-template-rows: auto 1fr 30vh;
  grid-template-areas:
    ' clck .... .... .... ....'
    ' timr timr timr timr timr'
    ' prog prog prog prog prog';
  gap: 1vw;
}

.label {
  font-size: 1.3vw;
  color: #ff7597;
}
/* =================== TITLES ===================*/

.nowContainer,
.nextContainer {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1vh 2vw;
  border-radius: 1vw;
}

.nowContainer {
  grid-area: now;
}
.nextContainer {
  grid-area: next;
}

.title {
  color: #ddd;
  font-size: 2.5vw;
}

.subtitle,
.presenter {
  color: #aaa;
  font-size: 2vw;
}

.title:after,
.presenter:after,
.subtitle:after {
  content: '\200b';
}

/* =================== MAIN ===================*/

.timerContainer,
.timerContainerFinished {
  grid-area: timr;
  justify-self: center;
  align-self: center;
  color: white;
}

.finished {
  font-size: 23vw;
  font-weight: 600;
  color: #ff5353;
}

.countdown,
.countdownBig {
  letter-spacing: 4vw;
}

.countdown {
  font-size: 23vw;
  line-height: 23vw;
}

.countdownBig {
  font-size: 30vw;
  line-height: 30vw;
}

.progress {
  grid-area: prog;
  width: 80%;
  margin: 0 auto;
  height: 2vh;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 4px;
}

.progressed {
  width: 30%;
  height: 2vh;
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 4px;
}

.container__grayFinished {
  border: 1vw solid #ff5353;
}

/* =================== OVERLAY ===================*/

.messageOverlay,
.messageOverlayActive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  opacity: 0;
}

.messageOverlayActive {
  opacity: 1;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 15vw;
  line-height: 30vh;
  text-align: center;
  font-weight: 600;
}

/* =================== MAIN ===================*/

.clockContainer {
  grid-area: clck;
  padding: 1vh 2vw;
}

.clock {
  font-size: 4vw;
  letter-spacing: 0.4vw;
  color: #ddd;
}
