@use '../theme/ontimeStyles' as *;
@use '../theme/ontimeColours' as *;

.viewLoader {
  width: 100%;
  height: 100%;
  position: relative;
}

.isOffline {
  &::after {
    content: 'Disconnected';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 0.25rem;
    background-color: $red-700;
    color: $ui-white;
    text-align: center;
    font-size: $aux-text-size;
    font-weight: 600;
    z-index: $zindex-sudo;
    pointer-events: none;
    font-family: $ontime-font-family;
  }
}
