.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.formInput {
  flex: 2;
  padding-right: 1rem;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}