@use '../../../../theme/viewerDefs' as *;

.timer {
  grid-area: timer;
  white-space: nowrap;
  max-width: 18.75rem;
  min-width: 5em;

  color: $timer-color;
  line-height: 0.9em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3.5rem;
  
  &.finished {
    color: $timer-finished-color;
  }
}
