.tableWrapper {
  background-color: $ui-black;
  width: 100%;
  height: 100vh;
  padding: 1rem 0.5rem;

  display: grid;
  grid-template-rows: 3rem auto auto 1fr;
  grid-template-areas:
          'overview'
          'progress'
          'settings'
          'table';
  gap: 1rem;
  color: $ui-white;
}
