@use '../../../theme/mixins' as *;

$menu-hover-bg: $gray-1350;
$menu-focus-bg: $gray-1300;

$button-size: 3rem;

.fadeable {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;

  &.hidden {
    opacity: 0;
  }
}

.lockIcon {
  font-size: 1.5rem;
  color: $active-indicator;
  padding: 0.5em;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.5em;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
}

.navButton {
  font-size: 1.5rem;
  height: $button-size;
  width: $button-size;;
}

.link {
  @include action-link;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $menu-hover-bg;
  }

  &:active {
    background-color: $border-color-ondark;
  }

  &:focus {
    outline: none;
    background-color: $menu-focus-bg;
    border-left: 2px solid $action-text-color;
  }

  &.current {
    background-color: $menu-hover-bg;
    border-left: 4px solid $action-text-color;
  }
}

.linkIcon {
  margin-left: auto;
  @include rotate-fourty-five;
}

.separator {
  border-color: $border-color-ondark;
}

.sectionHeader {
  font-size: calc(1rem - 2px);
  margin-left: 1rem;
  color: $gray-700;
}

.bottom {
  margin-top: auto;
  margin-bottom: 1rem;
}

.interfaces {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.goIcon {
  @include rotate-fourty-five;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
