@use '../../../theme/mixins' as *;

$menu-hover-bg: $gray-1350;
$menu-focus-bg: $gray-1300;

$icon-color: $ui-white;
$button-bg: $gray-1050;
$button-size: 3rem;

.buttonContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.5em;

  transition-property: opacity;
  transition-duration: 0.3s;

  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;

  &.hidden {
    opacity: 0;
  }
}

.button {
  font-size: 1.5rem;
  color: $icon-color;
  background-color: $button-bg;
  width: $button-size;
  height: $button-size;
  display: grid;
  place-content: center;
  border-radius: 3px;
}

.navButton {
  @extend .button;
  z-index: 3;
}

.link {
  @include action-link;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;

  &:hover {
    background-color: $menu-hover-bg;
  }

  &:active {
    background-color: $border-color-ondark;
  }

  &:focus {
    outline: none;
    background-color: $menu-focus-bg;
    border-left: 2px solid $action-text-color;
  }

  &.current {
    background-color: $menu-hover-bg;
    border-left: 4px solid $action-text-color;
  }
}

.linkIcon {
  display: inline-block;
  transform: rotate(45deg);
}

.separator {
  border-color: $border-color-ondark;
}
