.radioGroup {
  color: $gray-900;
  font-size: calc(1rem - 3px);
  color: $label-gray;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.2em;

  &:has([data-checked]) {
    color: $ui-white;
  }
}

.radio {
  box-sizing: border-box;
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  outline: 0;
  border: none;

  &[data-unchecked] {
    background-color: $gray-1200;
  }

  &[data-checked] {
    background-color: $gray-1200;

    &:hover {
      border-color: $gray-1000;
    }
  }

  &:focus-visible {
    outline: 2px solid $blue-500;
    outline-offset: 2px;
  }
}

.indicator {
  display: grid;
  place-content: center;

  &[data-unchecked] {
    display: none;
  }

  &::before {
    content: '';
    border-radius: 100%;
    width: 0.5em;
    height: 0.5em;
    background-color: $blue-500;
  }
}
