@use '../../../../theme/v2Styles' as *;

.delayInput {
  display: flex;
  gap: $element-spacing;
  align-items: center;
  color: $ontime-delay-text;
  font-size: $text-body-size;
}

.inputField {
  text-align: center;
}