.inputItems {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $element-spacing;

  &.withSource {
    grid-template-columns: auto 1fr auto;
  }
}

.label.active {
  color: $action-text-color;
}
