@use '../../../theme/v2Styles' as *;

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: $section-spacing;
}

.onAirSection {
  margin-top: $section-spacing;
  display: flex;
  flex-direction: column;
  gap: $element-spacing;
}

.buttonSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: $element-spacing;

}

.blinkingLabel {
  grid-area: 1 / 1 / 2 / 2;
  font-size: $inner-section-text-size;
  color: $label-gray;
}

.blinkingButton {
  grid-area: 2 / 1 / 3 / 2;
}

.blackoutLabel {
  grid-area: 1 / 2 / 2 / 3;
    font-size: $inner-section-text-size;
  color: $label-gray;
}

.blackoutButton {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  justify-self: end;
}

.label {
  font-size: $inner-section-text-size;
  color: $label-gray;

  &.active {
    color: $action-text-color;
  }
}
