.screenControl {
  display: grid;
  grid-auto-flow: row;
  gap: $element-spacing;
  align-self: center;
  width: 8rem;
}

@container (max-width: 22rem) {
  .screenControl {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-self: stretch;
    width: 100%;
  }
}
