.tableSettings {
  grid-area: settings;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 5rem;
  font-size: $inner-section-text-size;

  @media (max-width: $small-screen) {
    gap: 1rem;
  }
}

.sectionTitle {
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.25em;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
