@use '../../../styles/main' as *;

/* ============= COMMON ============= */

.delay {
  margin: 0.2em 0;
  padding: 0.2em 0.5em;

  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  border: $block-border;

  display: grid;
  grid-template-columns: 2em 1fr auto;
  grid-template-areas: 'drag inpt btns';
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 0.5em;

  background-color: $block-delay-color;
  background: linear-gradient(
    180deg,
    rgba(214, 158, 46, 0.4) 0%,
    rgba(236, 201, 75, 0.4) 20%,
    rgba(214, 158, 46, 0.07) 21%
  );
}

/* ================ DRAG ================ */

.drag {
  grid-area: drag;
  color: $block-icon-drag;
  align-self: center;
}

/* =============== INPUT ================ */

.input {
  grid-area: inpt;
}

/* ============== ACTION ================ */

.actionOverlay {
  grid-area: btns;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-self: flex-start;
  padding-top: 0.2em;
  opacity: 0.8;
  transition: linear 0.1s;
}

.delay:hover > .actionOverlay {
  opacity: 1;
  transition: linear 0.1s;
}

/* NA */
.actionOverlay:hover {
  opacity: 1;
}
