@use '../../theme/main' as *;
@use '../../theme/mixins' as *;

@mixin container {
  @include second-container;
  margin-top: 1em;
  padding: 8px;
}

.container {
  @include container;
}


.main {
  font-size: 0.9em;
  color: $label-gray;
  display: flex;
  justify-content: space-between;
}

.header,
.headerRoll {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: $header-gray;
  display: flex;
  justify-content: space-between;
}

.header {
  color: $header-gray;
}

.collapsedTitle {
  font-size: inherit;

  padding-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label,
.emptyLabel {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.label {
  font-size: 0.9em;
  color: $label-gray;
}

.label::after {
  content: ': ';
}

.emptyLabel {
  font-size: 0.8em;
  color: $bg-gray-700;
}

.notes {
  color: $notes-color;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interfaceList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.interface {
  font-size: 0.8em;
  background-color: $bg-container-l3;
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
