@use '../../main' as *;

@mixin container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px;
}

.container {
  @include container;
}

.main {
  font-size: 0.9em;
  color: $ontime-pink;
  display: flex;
  justify-content: space-between;
}

.header,
.headerRoll {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: $header-gray;
  display: flex;
  justify-content: space-between;
}

.header {
  color: $header-gray;
}

.headerRoll {
  color: $ontime-roll;
}

.collapsedTitle {
  font-size: inherit;

  padding-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label,
.emptyLabel {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.label {
  font-size: 0.9em;
  color: $label-gray;
}

.label::after {
  content: ': ';
}

.emptyLabel {
  font-size: 0.8em;
  color: #555;
}

.notes {
  color: $notes-color;
  overflow: hidden;
  text-overflow: ellipsis;
}

.if {
  font-size: 0.8em;
  color: $ontime-accent;
  @include container-bg;
}

ul > li {
  font-size: 0.9em;
  color: #fff;
}

.moreExpanded,
.moreCollapsed {
  cursor: pointer;
  color: #fff;
}

.moreExpanded {
  transform: scaleY(-1);
  transition: transform 0.3s;
}

.moreCollapsed {
  transform: scaleY(1);
  transition: transform 0.3s;
}
