@use 'Info.module' as *;
@use '../../styles/main' as *;
@use '../../styles/mixins' as *;

.container,
.container__expanded{
  @include container;
  max-height: 80%;
}

.container__expanded {
  min-height: 50%;
  height: 100%
}

.log {
  height: 100%;
  overflow-y: scroll;
  font-size: 0.8em;
  user-select: text;
  @include third-container;
  padding: 0 0.5em;
  margin: 0 0.5em;


  li {
    display: flex;
    margin-bottom: 2px;

    .time {
      width: 4.5em
    }
    .origin {
      width: 6em;
    }
    .msg {
      flex: 1;
    }
  }

  li.info {
    color: $info-gray;
  }
  li.warn {
    color: $warning-orange;
  }
  li.error {
    color: $error-red;
  }

  li:hover {
    color: $info-gray-hover;
  }
}

.info {
  color: $text-white;
}

.error {
  color: red;
}

.toggleBar {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 0.7em;
  justify-content: flex-start;
  padding: 0.5em 8px;
  font-weight: 600;

  div {
    padding: 2px 8px;
    background: #0002;
    border: 1px solid #fff1;
    border-radius: 2px;
    cursor: pointer;
  }

  div.active {
    background: $ontime-accent;
    color: darken($ontime-accent, 70%);
  }

  .clear {
    border: 1px solid rgba($ontime-pink, 0.5);
  }
}
