.progressBar {
  width: 100%;
  height: 0.5rem;

  transition-duration: 0.3s;
  transition-property: left;
  background-color: $gray-1000;

  .progress {
    height: 100%;
    background-color: $active-red;
  }
}
