@use '../../../theme/main';
@use '../../../theme/viewerDefs' as *;

.label {
  font-size: 1.3vw;
  color: var(--accent-color-override, $accent-color);
}

.title,
.subtitle,
.presenter {
  @include main.ellipsis;
}

.title {
  color: $title-color;
  font-weight: 600;
  font-size: 2.5vw;
  flex: 1;
}

.subtitle,
.presenter {
  color: $subtitle-color;
}

.subtitle {
  font-size: 1.5vw;
  font-weight: 200;
  margin-top: -0.8vh;
}

.presenter {
  font-size: 2vw;
}

.title:after,
.presenter:after,
.subtitle:after {
  content: '\200b';
}
