.quickAdd {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  background: $blue-500;
  z-index: $zindex-floating;
}

.addButton {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
