@use '../../../theme/main' as *;

.modalBody {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .notes {
    color: $label-gray;
    font-size: 0.8em;
  }

  .options {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .flexColumnLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
