.chip {
  white-space: nowrap;

  font-size: calc(1rem - 3px);
  color: $label-gray;
  justify-self: end;

  &.over {
    color: $ontime-delay-text;
  }

  &.under {
    color: $playback-ahead;
  }

  &.due {
    color: $warning-orange;
  }
}
