.previewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.previewItem {
  width: 47%;
}

.preview {
  aspect-ratio: 16 / 9;
  border-color: #222;
  background-color: #888;
}

.label {
  padding: 0.1em;
}
