.previewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.previewItem {
  width: 45%;
}

.label {
  padding: 0.1em 4em;
}
