@use '../../../theme/main'as *;

.editable,
.delayedEditable {
  background-color: $input-bg;
  border: $input-border;
  width: 6.5em;
  letter-spacing: 1px;
  height: fit-content;

  text-align: center;
  border-radius: 8px;
}

.delayedEditable {
  border: $input-delayed-border;
}
