@use '../../../theme/main' as *;

.inputButton {
  border-radius: 2px 0 0 2px;
}

.timeInput {
  width: fit-content !important;

  .inputField {
    font-size: 1em;
    letter-spacing: 1px;
    width: 7.5em;
    padding: 0 0 0 2.6em;
  }

  &.delayed {
    .inputField {
      border: $input-delayed-border;
      background-color: $input-bg-delayed;

      &:hover {
        background-color: $input-hover-bg-delayed;
      }
    }
  }
}
