@use '../../../theme/viewerDefs' as *;

$progress-bar-size: 12px;
$progress-bar-br: 6px;

.progress-bar__bg {
  position: relative;
  width: 100%;
  height: $progress-bar-size;
  border-radius: $progress-bar-br;
  background-color: var(--timer-progress-bg-override, $viewer-card-bg-color);
  display: flex;

  &--hidden {
    display: none;
  }
}

.progress-bar__indicator {
  position: absolute;
  height: inherit;
  background-color: black;
  opacity: 0.8;
  transition: 1s linear;
  transition-property: width;
  right: 0;
}