.label {
  display: block;
  margin-top: 2rem;
  font-size: $inner-section-text-size;
  color: $label-gray;
}

.controls {
  margin-top: 0.25rem;
}

.input {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
}

.twoSides {
  margin-top: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  height: 1.5rem;
}
