@use '../../../../theme/ontimeColours' as *;

@mixin row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.25rem;
}

.stepRow {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  font-size: 1rem;
}

.idle {
  @include row;
  color: $blue-500;
}

.inactive {
  @include row;
  color: $gray-700;
}

.active {
  @include row;
  color: $blue-700;
}


.inactiveIcon {
  color: $gray-700;
}

.activeIcon {
  color: $blue-500;
}
