.current {
  background-color: $blue-1100;
}

.fullWidth {
  width: 100%;
}

.actionButtons {
  display: flex;
  gap: 0.5rem;
}

.buttonSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $element-spacing;
  margin-top: -0.5rem;
}
