.current {
  background-color: $blue-1100;
}

.fullWidth {
  width: 100%;
}

.actionButtons {
  display: flex;
  gap: $element-spacing;
}

.badgeList {
  width: 100%;
  * {
    margin-right: $element-spacing;
  }
}

.buttonSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $element-spacing;
  margin-top: -$element-spacing;
}
