@use '../blockMixins' as *;

.delay {
  @include block-spacing;
  @include block-styling;

  background-color: $block-bg2;

  display: grid;
  grid-template-columns: 2rem 1fr auto;
  grid-template-areas: 'drag inpt btns';
  align-items: center;
  height: $secondary-block-height;
  gap: 0.5rem;

  &.hasCursor {
    outline: 1px solid $block-cursor-color;
  }
}

.drag {
  @include drag-style;
  grid-area: drag;
}

.actionButtons {
  grid-area: btns;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}