.qrCode {
  padding: 0.5rem;
  background: $ui-white;
  border-radius: 3px;
}

.column {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $label-gray;
  user-select: text;
}
