$inner-padding: 1rem;

.header {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $white-10;
  font-weight: 600;
}

.subheader {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.375rem;
  padding: 0 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray-300;
}

.section,
.indent {
  font-size: calc(1rem - 1px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $ui-white;
}

.section {
  position: relative;
  margin-top: 2rem;
  max-width: 850px;
}

.indent {
  padding: 1rem;
  background-color: $gray-1350;
}

.paragraph {
  padding: 0.5rem 0;
}

.card {
  position: relative;
  padding: 2rem;
  background-color: $white-3;
  border: 1px solid $gray-1100;
  border-radius: 3px;
}

.highlight {
  font-size: calc(1rem - 2px);
  color: $orange-500;
  padding-inline: 0.25rem;
}

.blockquote {
  padding-left: 0.5rem;
  border-left: 2px solid $gray-100;
  background-color: $white-3;
}

.error {
  font-size: $inner-section-text-size;
  display: block;
  color: $error-red;
}

.pad {
  padding: 0 2rem;
  max-height: 550px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: calc(1rem - 2px);
  text-align: left;
  margin-bottom: 2rem;

  thead {
    position: sticky;
    top: 0;
    z-index: $zindex-floating;
    background-color: $gray-1350;
  }

  th {
    font-weight: 400;
    color: $gray-400;
    white-space: nowrap;
    text-transform: capitalize;
  }

  th,
  td {
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background-color: $white-1;
  }

  // allow highlighting table elements
  tr[data-warn='true'],
  td[data-warn='true'] {
    background-color: $orange-1300;
  }
}

.listGroup {
  padding: 0 2rem;

  > li:not(:last-child) {
    border-bottom: 1px solid $white-10;
  }
}

.listItem {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0.5rem 0;
}

.fieldTitle {
  color: $ui-white;
  font-size: 1rem;
}

.fieldDescription {
  font-size: calc(1rem - 2px);
  color: $gray-400;
}

.fieldError {
  font-size: calc(1rem - 2px);
  color: $red-500;
}

.divider {
  border: none;
  border-top: 1px solid $white-10;
  margin: 1rem -2rem;
}

.overlay {
  position: absolute;
  z-index: $zindex-backdrop;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  display: grid;
  place-content: center;
  background-color: $black-10;
}

.loader {
  $loader-size: 4rem;
  width: $loader-size;
  height: $loader-size;
  background: $blue-500;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

.empty {
  background-color: $black-10;
  text-align: center;
  color: $muted-gray;

  td {
    padding-block: 5rem;
  }

  button {
    margin-top: 1rem;
    margin-inline: auto;
  }
}

.inlineElements {
  display: flex;
  align-items: center;

  &.inner {
    gap: 0.5rem;
  }
  &.component {
    gap: 1rem;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
  &.apart {
    justify-content: space-between;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
