@use '../../../theme/main' as *;

.header,
.headerRoll {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.header {
  color: $header-gray;
}

.headerRoll {
  color: $ontime-roll;
}

.moreExpanded,
.moreCollapsed {
  cursor: pointer;
  color: $text-white;
}

.moreExpanded {
  transform: scaleY(-1);
  transition: transform 0.3s;
}

.moreCollapsed {
  transform: scaleY(1);
  transition: transform 0.3s;
}
