.editModal {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  padding: 1rem;
  background-color: $gray-1250;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: min(400px, 90vw);
  box-shadow: $box-shadow-l1;

  .buttonRow {
    margin-top: auto;
    display: flex;
    justify-content: space-between; 
    gap: 1rem;

    button {
     width: 100%;
    }
  }
}
