$input-delayed-border-color: $ontime-delay-text;

.timeInput {
  border: 1px solid transparent;
  &.delayed {
    border: 1px solid $input-delayed-border-color;
  }
}

.inputField {
  text-align: left;
}
