$input-font-size: 1rem;
$input-delayed-border-color: $ontime-delay-text;

.timeInput {
  &.delayed {
    border: 1px solid $input-delayed-border-color;
  }

  .inputField {
    max-width: 7.75em;
    font-size: $input-font-size;
    letter-spacing: 1px;
  }
}
