.emptyContainer {
  width: 100%;
  text-align: center;
  color: $white-10;

  .empty {
    display: block;
    width: min(100%, 24rem);
    margin-inline: auto;
    opacity: 0.8;
  }

  .text {
    display: block;
    margin-inline: auto;
    font-weight: 600;
    font-size: 2em;
    max-width: min(100%, 600px);
  }
}
