@use '@/theme/viewerDefs' as *;

/* share the same style as a page layout */
.page {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100vh;

  font-family: var(--font-family-override, $viewer-font-family);
  background: var(--background-color-override, $viewer-background-color);
  color: var(--color-override, $viewer-color);
  padding: min(2vh, 16px) clamp(16px, 10vw, 64px);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
