.emptyContainer {
  width: 100%;
  color: $white-10;

  .emptyCell {
    margin-inline: auto;
    text-align: center;
    padding-top: 10vh;
  }

  .empty {
    width: 100%;
    opacity: 0.8;
  }

  .text {
    font-weight: 600;
    font-size: 2em;
  }
}
