@use '../../../src/theme/v2Styles' as *;
@use '../../../src/theme/ontimeColours' as *;

.operatorContainer {
  width: 100vw;
  height: 100vh;

  color: $ui-white;
}

.operatorEvents {
  width: 100vw;
  height: 100vh;
  padding-top: 0.25rem;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.spacer {
  min-height: 95vh;
}
