@use '../../../src/theme/v2Styles' as *;
@use '../../../src/theme/ontimeColours' as *;

.operatorContainer {
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: white;
}

.operatorEvents {
  flex: 1;
  overflow: auto;
}

@mixin event-block() {
  height: 40px;
  padding: 0.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin: 0.1rem;
}


.block {
  @include event-block();
  background-color: $gray-1350;
}