@use '../../../styles/main' as *;
@use '../../../styles/viewers' as *;

.container__gray,
.container__grayFinished {
  @include viewer-container;

  display: grid;
  grid-template-columns: 20vw 20vw 18vw 3vw 1fr;
  grid-template-rows: 60vh 1fr 1fr 1fr;
  grid-template-areas:
    ' pip  pip  pip  . schd'
    ' titl titl titl . schd'
    ' info info clck . schd'
    ' info info time . schd';
  gap: 1vw;
  padding: 1vw;
}

.eventTitle {
  grid-area: titl;
  @include viewer-event-title;
}

.pip {
  grid-area: pip;
  background-color: $bg-black-100;
  border: 1px solid $bg-black-200;
  width: 100%;
  text-align: center;
  display: grid;
  place-content: center;
}

.empty {
  opacity: 0.5;
}

.piptext {
  color: $bg-gray-900;
  font-weight: 600;
  font-size: 4vh;
}

.infoContainer,
.clockContainer,
.countdownContainer {
  background-color: $bg-gray-1000;
  padding: 1vh 1vw;
}

.todayContainer {
  grid-area: schd;
}

.countdownContainer {
  grid-area: clck;
  border-radius: 1vw 1vw 0 0;
}
