@use '../../../theme/ontimeColours' as *;

.container {
  height: 100%;
  width: 100%;
  background: $bg-container-l1;
  padding-top: 1rem;
}

.list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bottomSpacer {
  width: 100%;
  flex-shrink: 0;
  height: 70vh;
}
