@use '../../theme/v2Styles' as *;
@use '../../theme/mixins' as *;

$info-gray: $secondary-text-gray;
$info-hover: $section-white;

.log {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  font-size: 0.8em;
  user-select: text;
}

.logEntry {
  display: flex;
  margin-bottom: 2px;

  &.INFO {
    color: $info-gray;
  }

  &.WARN {
    color: $warning-orange;
  }

  &.ERROR {
    color: $error-red;
  }

  &:hover {
    color: $info-hover;
  }

  .time {
    width: 4.5em
  }

  .origin {
    width: 6em;
  }

  .msg {
    flex: 1;
  }
}

.buttonBar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 8px;
}
