@use "../../../../theme/_ontimeColours" as *;

@mixin pad-item {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.previewTable {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, auto);
  font-size: calc(1rem - 2px);
}

.field {
  font-weight: 200;
  @include pad-item;
}

.value {
  @include pad-item;
}
