@use "../../../../theme/_ontimeColours" as *;

.tag {
  font-size: calc(1rem - 3px);
  letter-spacing: 0.5px;
  background-color: $gray-100;
  color: $ui-black;
  border-radius: 2px;
  padding: 0 0.25rem;
  white-space: nowrap;
}
