.sections {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.about {
  @extend .column;
  font-size: calc(1rem - 2px);
}

.inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
  height: auto;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  justify-content: end;

  :first-child {
    margin-right: auto;
  }
}

.tableContainer {
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
}

.table {
  width: 100%;
  font-size: calc(1rem - 2px);

  tbody {
    background-color: $gray-1300;
    tr {
      &:hover:not(.current) {
        background-color: $gray-1350;
      }
      .current {
        &:hover {
          background-color: $blue-900;
        }
      }
    }
  }

  tr {
    height: 2rem;
    cursor: pointer;
  }

  th,
  td {
    padding-inline: 0.5rem;
  }

  th {
    text-align: left;
    font-size: calc(1rem - 3px);
    color: $label-gray;
  }
}

.current {
  background-color: $blue-700;

  &:hover {
    background-color: $blue-900;
  }
}
