@use "main" as *;

//////////////////////////////////// general app elements

@mixin main-container {
  background-color: $bg-gray-1000;
  border: 1px solid $bg-gray-1000;
  border-radius: 4px;
}

@mixin second-container {
  background-color: $bg-container-l2;
  border-radius: 4px;
}

@mixin third-container {
  background-color: $bg-gray-1100;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

@mixin osc-label {
  color: $ontime-accent-text;
  font-size: 0.8em;
  -webkit-user-select: text;
  user-select: text;
}
