@use 'main' as *;

@mixin viewer-container {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  background: $bg-black;
  height: 100vh;
  color: $title-white;
  font-weight: 300;
}

@mixin viewer-event-title {
  font-size: 3vw;
  font-weight: 600;
  text-decoration: underline $ontime-pink 0.5vh;
  padding-top: 0.2vh;
  padding-left: 1vw;
}

@mixin viewer-info-messages {
  font-size: 1.5vw;
  line-height: 2vw;
  white-space: pre-line;
}

////////////////////////////// Specifics

.label {
  font-size: 1.3vw;
  color: $ontime-pink;
}

.info-container > div {
  overflow: hidden;
}

.next-container > div,
.now-container > div {
  @include ellipsis;
}

.now-container,
.next-container,
.today-container {
  background-color: $bg-gray-1000;
  padding: 1vh 2vw;
  overflow: hidden;
}

.clock-container,
.countdown-container,
.public-container,
.public-container--hidden {
  padding: 1vh 1vw;
}

.public-container {
  opacity: 1;
  transition: 0.5s;
  transition-property: opacity;
}

.public-container--hidden {
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity;
}

.today-container,
.info-container {
  background-color: $bg-gray-1100;
  padding: 2.5vh 2vw;
}

.info-container,
.today-container,
.public-container,
.public-container--hidden {
  border-radius: 1vw;
}

.now-container,
.next-container {
  margin-left: -1vw;
}

.qr {
  align-self: center;
  justify-self: center;
  grid-area: qr;
}

.clock {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.25vw;
  color: $clocks;
}

.info-container {
  grid-area: info;
  display: grid;

  grid-template-rows: 3vh minmax(0, 1fr);
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'titl .'
    'binf qr';
  gap: 0.5vw;
}

.info-messages {
  grid-area: binf;
  font-size: 1.5vw;
  line-height: 2vw;
  white-space: pre-line;
}

.clock-container {
  grid-area: time;
  border-radius: 1vw;
}

.message {
  font-size: 3vw;
  line-height: 3vw;
  padding: 0.5vh 0 0.5vh 1vw;
}

.today-container {
  margin-top: 3vh;
  height: 95%;

  .today-header-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vh;

    .nav-item,
    .nav-item--selected {
      background-color: $bg-gray-700;
      width: 0.7vw;
      height: 0.7vw;
      border-radius: 0.35vw;
    }

    .navItemSelected {
      background-color: $bg-gray-100;
    }

    .nav {
      align-self: center;
      justify-content: flex-end;
      display: flex;
      margin-bottom: 2.5vh;
    }

    .nav > div {
      margin-left: 0.5vw;
    }
  }
}

.info-container {
  display: grid;

  grid-template-rows: 3vh minmax(0, 1fr);
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'titl .'
    'binf qr';
  gap: 0.5vw;

  .info-messages {
    grid-area: binf;
    font-size: 1.5vw;
    line-height: 2vw;
    white-space: pre-line;
  }

  .clock-container {
    grid-area: time;
    border-radius: 1vw;
  }
}
