@use '../../../theme/viewerDefs' as *;

.timer {
  font-family: var(--font-family-override, $viewer-font-family);
  color: var(--timer-color-override, $timer-color);
  line-height: 0.9em;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 600;

  &--small {
    font-size: 3.75em;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &--finished {
    color: $timer-finished-color;
  }
}
