.tabs,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs {
  width: min(30vw, 300px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.primary,
.secondary {
  padding: 0.25rem 1rem;
  margin-right: 1rem;

  &:focus {
    background-color: $gray-1000;
    outline: 0;
  }

  &:hover {
    background-color: $gray-1000;
    cursor: pointer;
  }
}

.primary {
  font-size: 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.active {
    color: $blue-400;
    background-color: $gray-1100;
  }

  &.unsaved::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $blue-400;
  }

  &.split {
    margin-top: 1rem;
  }
}

.secondary {
  margin-left: 1rem;
  color: $secondary-text-gray;
  border-left: 1px solid $white-10;
  font-size: $inner-section-text-size;

  &.active {
    color: $blue-400;
  }
}

.attention {
  color: $red-400;  
  &::before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    border-radius: 99px;
    background-color: $red-400;
  }
}
