.lower-third.clean {
  margin: 0;
  box-sizing: border-box; /* reset */
  overflow: hidden;
  width: 100%; /* restrict the page width to viewport */
  height: 100%;
  color: #fffffa;
  font-size: 4vh;

  .lower-container {
    position: absolute;
    padding: 1vh 2vh;
    border-radius: 1vh;
  }

  .message-container {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;

    .message {
      font-size: 3.5vh;
    }
  }
}
