/* ============= COMMON ============= */

.eventRow,
.eventRowActive,
.block,
.delay {
  position: relative;
  top: 1em;
  margin: 0.2em 0;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid #0001;
}

.block,
.delay {
  padding: 0.2em 1em;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  gap: 1em;
}

.actionOverlay {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-content: center;
  align-self: center;

  opacity: 0.6;
  transition: linear 0.1s;
}

.eventRow:hover > .actionOverlay,
.eventRowActive:hover > .actionOverlay,
.block:hover > .actionOverlay,
.delay:hover > .actionOverlay {
  opacity: 0.85;
  transition: linear 0.1s;
}

/* NA */
.actionOverlay:hover {
  opacity: 1;
}
/* ============= EVENT ITEM ============= */

.eventRow,
.eventRowActive {
  padding: 0.2em 0.5em;
  padding-left: 1em;

  display: grid;
  grid-template-columns: 3em auto auto 1fr auto;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 0.5em;
}

.eventRow {
  background-color: #0001;
}

.eventRowActive {
  background-color: #b2f5eaaa;
  background: linear-gradient(
    0deg,
    #7aadffaa 5%,
    #7aadff55 6%,
    #7aadff55 95%,
    #7aadffaa 96%
  );
}

.titleContainer,
.detailedContainer {
  background-color: #fff8;
  border: 1px solid #0001;
  border-radius: 4px;
}

.rowDetailed {
  display: inline-flex;
  position: relative;
}

.titleContainer,
.detailedContainer {
  width: 90%;
  display: block;
}

.more {
  position: absolute;
  right: 0.25em;
  top: 0.5em;
}

/* ============= BLOCK BLOCK ============= */
.block {
  background-color: #805ad5aa;
  background: linear-gradient(0deg, #805ad5aa 20%, #805ad555 21%);
  flex-direction: row-reverse;
}

/* ============= DELAY BLOCK ============= */
.delay {
  background-color: #ecc94baa;
  background: linear-gradient(180deg, #ecc94baa 20%, #ecc94b55 21%);
  justify-content: space-between;
}

.delayValue {
  color: #222;
  background-color: #fff5;
  border-radius: 4px;
  padding: 0.2em;
  text-align: center;
  width: 6em;
  border: 1px solid #0001;
}
