/* ============= COMMON ============= */
.event {
  margin: 0.2em 0;
  padding: 0.2em 0.5em;
  box-sizing: border-box;

  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);

  display: grid;
  gap: 0.5em;

  background-color: rgba(255, 255, 255, 0.02);
}

.active {
  background-color: rgba(255, 255, 255, 0.36);
  background: linear-gradient(
    180deg,
    #00000000 10%,
    #4bffab10 97%,
    #227c52aa 98%,
    #4bffabcc 100%
  );
}

.collapsed {
  grid-template-columns: 2em 2em auto auto 1fr auto 3.7em;
  grid-template-areas: 'drag indi time time text more btns';
  justify-content: center;
  align-items: baseline;
}

.expanded {
  grid-template-columns: 2em 2em 2em auto 1fr auto 3.7em;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'drag indi time time text more btns'
    '.... indi time time text .... btns'
    '.... indi time time text .... btns'
    '.... indi time time text .... btns';
  justify-content: center;
}

/* ================ DRAG ================ */

.drag {
  grid-area: drag;
  color: rgba(255, 255, 255, 0.67);
  align-self: center;
}

/* ============= INDICATORS ============= */
.indicators {
  grid-area: indi;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 0.75em;
  overflow: hidden;
  min-width: 0;
  justify-content: center;
}

.next,
.nextDisabled {
  width: max-content;
  padding: 0 0.2em;
  color: #4bffab;
  transition: 0.3s;
}

.next {
  opacity: 0.8;
}

.nextDisabled {
  opacity: 0.05;
}

.delayValue {
  color: #d69e2eaa;
  padding: 0 0.2em;
  text-align: center;
  align-self: flex-start;
  width: max-content;
}

.next:after,
.delayValue:after {
  content: '\200b';
}
/* =============== TIMES ================ */

.time {
  grid-area: time;
}

.start {
  grid-area: star;
}

.end {
  grid-area: end;
}

.duration {
  grid-area: dura;
}

.timeExpanded {
  grid-area: time;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;

  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 0 0.5em 0.5em 0.5em;
}

.label {
  font-size: 0.75em;
  color: #aaa;
}

.calculatedTime {
  grid-area: time;
  font-size: 0.75em;
}

/* =============== TITLES =============== */

.titleContainer {
  grid-area: text;
  display: inline-flex;
  position: relative;
  align-self: flex-start;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  width: 100%;
  display: block;
}
/* ================ MORE ================ */

.more {
  cursor: pointer;
}
/* ============== ACTION ================ */

.actionOverlay {
  grid-area: btns;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-self: flex-start;
  padding-top: 0.2em;
  gap: 0.5em;
  opacity: 0.8;
  transition: linear 0.1s;
}

.expanded > .actionOverlay {
  flex-direction: column;
  justify-self: flex-end;
}

.event:hover > .actionOverlay {
  opacity: 1;
  transition: linear 0.1s;
}

/* NA */
.actionOverlay:hover {
  opacity: 1;
}
