@use '../../../theme/main' as *;
@use '../../../theme/mixins' as *;

.eventContainer {
  @include second-container;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.empty {
  opacity: 0.3;
  align-self: center;
}

.cursor {
  box-shadow: 0 0 1px 2px $action-blue;
  border-radius: 3px;
}

.bgElement {
  &.delayed {
    background: rgba(214, 158, 46, 0.3);
  }
}
