@use '../../../theme/main' as *;
@use '../../../theme/mixins' as *;

.eventContainer {
  @include second-container;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.empty {
  opacity: 0.3;
  align-self: center;
}

.cursor {
  box-shadow: 2px 2px 0 $ontime-pink;
  border-radius: 14px;
}
