@use '../../../styles/mixins' as *;

.eventContainer {
  @include second-container;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.empty {
  opacity: 0.3;
  align-self: center;
}

.cursor {
  width: 100%;
  background: linear-gradient(
                  180deg,
                  #ff7597 2%,
                  #0001 3%,
                  #0001 97%,
                  #ff7597 98%
  );
  border-radius: 14px;
}
