.eventContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px;
  overflow-y: scroll;
  height: 73vh;
}

.empty {
  opacity: 0.3;
  align-self: center;
}

.cursor {
  width: 90%;
  min-height: 2px;
  background-color: #ff7597;
  border-radius: 2px;
  margin: 0 auto;
  /* transition: 1s;
  transition-property: all; */
}
