@use '../../../theme/main' as *;
/* ============= COMMON ============= */

.block {
  margin: 0.2em 0;
  padding: 0.2em 0.5em;
  box-sizing: border-box;

  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  border: $block-border;

  display: grid;
  grid-template-columns: 2em auto;
  align-content: center;
  align-items: baseline;
  gap: 0.5em;

  background-color: $block-block-color;
  background: linear-gradient(
    0deg,
    rgba(107, 70, 193, 0.4) 0%,
    rgba(128, 90, 213, 0.4) 20%,
    rgba(107, 70, 193, 0.15) 21%
  );
}

/* ================ DRAG ================ */
.drag {
  color: rgba(255, 255, 255, 0.67);
  align-self: center;
  justify-self: start;
}

/* ============== ACTION ================ */
.actionOverlay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-self: flex-start;
  padding-top: 0.2em;
  opacity: 0.8;
  transition: linear 0.1s;
  justify-self: end;
}

.block:hover > .actionOverlay {
  opacity: 1;
  transition: linear 0.1s;
}

/* NA */
.actionOverlay:hover {
  opacity: 1;
}
