@use '@/theme/viewerDefs' as *;

.single-container {
  margin-top: 7.5vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.event__status {
  color: var(--secondary-color-override, $viewer-secondary-color);
  font-size: $header-font-size;
  font-weight: 600;
  text-transform: uppercase;
}

.event__timer {
  color: var(--timer-color-override, $timer-color);
  font-size: 15vw;
  line-height: 0.9em;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 600;
}
