.quickAdd {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;

  padding-block: 0.5rem;
  background: color-mix(in srgb, transparent 90%, var(--user-bg, transparent) 10%);

  &.indent {
    padding-left: calc(2em + 0.5rem);
  }
}
