.inputContainer,
.inputContainerWGap {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.inputContainerWGap {
  padding-top: 0.5em;
}

.label {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
