.messageContainer {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.inputItems {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

.label {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #ccc;
}

.inline {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.padleft {
  padding-left: 0.5em;
}
