.mainContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 5px;
}

.timeContainer,
.playbackContainer {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 0.5em;
}

.timeContainer {
  display: grid;
  grid-template-areas:
    'ind clk clk btn'
    '... sta fin btn';
  grid-template-rows: 1fr auto;
  grid-template-columns: 1.5em 2fr 2fr 6em;
  gap: 5px;
  justify-items: start;
}

.timer {
  grid-area: clk;
  white-space: nowrap;
  max-width: 300px;
}

.indicators {
  grid-area: ind;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indRoll,
.indDelay,
.indNegative {
  background-color: rgba(0, 0, 0, 0.05);
}

.indRoll,
.indRollActive,
.indDelay {
  margin: 0 auto;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
}

.indRollActive {
  background-color: #2b6cb0;
}

.indNegative,
.indNegativeActive {
  margin: 0 auto;
  width: 90%;
  height: 0.3em;
}

.indNegativeActive {
  background-color: #ff7597;
}

.indDelayActive {
  background-color: #dd6b20;
}

.btn {
  grid-area: btn;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.minus {
  grid-area: min;
  display: flex;
  flex-direction: column;
}

.start {
  grid-area: sta;
}

.finish {
  grid-area: fin;
}

.time {
  color: #ccc;
  font-size: 1.1em;
}

.tag {
  color: #aaa;
  font-size: 0.9em;
}

.rolltag {
  color: #2b6cb0;
  font-size: 0.9em;
}

.playbackContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5em;
  gap: 10px;
}
