.mainContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 5px;
}

.timeContainer,
.playbackContainer {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  padding: 0.5em;
}

.timeContainer {
  display: grid;
  grid-template-areas:
    'clk clk ...'
    'sta fin ...';
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr 80px;
  gap: 5px;
  justify-items: start;
}

.timer {
  grid-area: clk;
}

.start {
  grid-area: sta;
}

.finish {
  grid-area: fin;
}

.time {
  color: #333;
  font-size: 1.1em;
}

.tag {
  color: #666;
  font-size: 0.9em;
}

.playbackContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5em;
  gap: 10px;
}
