@use "../../../theme/_ontimeColours" as *;

@mixin pad-item {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.previewTable {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 1px;
  font-size: calc(1rem - 2px);
}

.field {
  @include pad-item;
  background-color: $gray-100;
}

.value {
  @include pad-item;
  background-color: $gray-50;
}
