@use "../../../theme/_ontimeColours" as *;

.container {
  max-width: 100%;
  max-height: 40vh;
}

.scrollContainer {
  overflow-x: scroll;
}

.rundownPreview {
  font-size: calc(1rem - 2px);
}

.header,
.body {
  th {
    font-weight: 400;
    height: unset;
    line-height: calc(1rem - 2px);
    text-align: left;
  }
}

.header {
  background-color: $gray-100;
}

.body {
  tr:nth-child(even) {
    background-color: $gray-50;
  }
}