@use '../../../../theme/v2Styles' as *;
@use '../../../../theme/ontimeColours' as *;

.importTable {
  margin: 0.5rem;
  height: fit-content;

  thead {
    color: $gray-500;
    text-transform: uppercase;
    width: 10em;
  }

  tr:hover {
    background-color: $gray-50;
  }

  tbody {
    td {
      max-width: fit-content;
    }
  }
}

.label {
  display: inline-block;
  min-width: 6em;
  font-size: $inner-section-text-size;
}

.input {
  width: 100%;
}
