@use '../../../../src/theme/ontimeColours' as *;
@use '../../../../src/theme/v2Styles' as *;

.followButton {
  position: relative;
  bottom: 10rem;
  margin: 0 auto;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: $blue-700;
  color: #fff;
  font-size: 1rem;
  border-radius: 99px;
  transition: bottom 1s;

  &:active {
    transition: background-color $transition-time-action;
    background-color: $blue-900;
  }
}

.hidden {
  transition: bottom 1s;
  bottom: -50px;
}

// tablet
@media (min-width: $min-tablet) {
  .followButton {
    font-size: 1.25rem;
    gap: 1rem;
    padding: 0.25rem 1rem;
  }
}