.alias {
  background-color: red;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.event {
  display: flex;
  gap: 6px;
  width: 100%;
}

.block{
  width: 100%;
}

.fields{
  font-weight: 700; 
}

.time {
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  text-align: right;
}

.time > div {
  margin-bottom: -4px; /* Adjust the value as needed */
}

.title {
  flex: 1;
}

.indicator{
  display: flex;
  justify-content: space-between;
}

.chevron{
  display: flex;
  align-items: center;
  color: yellow;
  font-size: 16px;
}
