@use '../../../../src/theme/ontimeColours' as *;
@import '../Operator.module.scss';

.scheduledEvent {
  @include event-block();
  background-color: $gray-1300;
}

.runningTimer {
  background-color: $green-700;
}

.cue {
  font-size: 0.75rem;
  background-color: $gray-1050; // to override inline
  padding: 0.2rem;
  min-width: 4em; // we do not want these to resize
  text-align: center;
  border-radius: 2px;

  &:after {
    content: '\200b';
  }
}

.title {
  font-size: 1rem;
  letter-spacing: 0.02px;
}

.event {
  display: flex;
  gap: 6px;
  width: 100%;
}

.block {
  width: 100%;
}

.fields {
  display: block;
  font-weight: 700;
  color: $orange-500;
  letter-spacing: 0.02px;
}

.time {
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  text-align: right;
}

.time > div {
  margin-bottom: -4px; /* Adjust the value as needed */
}

.title {
  flex: 1;
}

.indicator {
  display: flex;
  justify-content: space-between;
}
