//////////////////////////////////// general app colours

$title-white: #fffd;
$bg-black-gradient: #202020;
$bg-black: #121212;
$bg-black-100: #070707;
$bg-black-200: #1a1a1a; // container borders
$bg-gray-1100: #232323; // container borders
$bg-gray-1000: #262626; // container borders
$bg-gray-900: #303030;
$bg-gray-800: #404040;
$bg-gray-100: #c0c0c0; // borders and whatnot

$bg-overlay: rgba(0, 0, 0, 0.85);

$ontime-accent: #4bffab;
$ontime-accent-text: mix($bg-black, $ontime-accent, 10%);
$ontime-pink: #ff7597;
$ontime-pink-variant: #ff6969;
$ontime-roll: #2b6cb0;

//rgba(255, 255, 255, 0.13); - $bg-gray-900
//rgba(255, 255, 255, 0.05); - $bg-gray-1000
//rgba(255, 255, 255, 0.07) - $bg-gray-1000
//containers - $bg-gray-1100


$notes-color: #d69e2e;

$header-gray: #ccc;
$label-gray: #aaa;
$clocks: #ddd;
$bg-gray: #f4f4f8;

$light-bg: #2b6cb0;
$light-bg-transparent: #2b6cb055;
$light-text: #2b6cb022;

$error-red: #E53E3E;


//////////////////////////////////// block elements
$block-delay-color: #ecc94b;
$block-block-color: #805ad5;
$block-icon-drag: $bg-gray-100;
$block-border: 1px solid $bg-gray-800;

//////////////////////////////////// general app element overriders

// no decoration on lists
ul {
  list-style-type: none;
}

// no resizing on text areas
textarea {
  resize: none !important;
}

// Define style for a link
a {
  &::after {
    content: '  \2197';
    color: $ontime-pink;
  }

  &:hover {
    color: $ontime-pink;
  }
}

// horizontal separator
.hSeparator {
  width: 100%;
  border-bottom: 1px solid $light-bg;
  margin: 1em auto;
  display: flex;
  align-items: center;
}

// inline vertical separator
.vSpan {
  margin: 0 0.5em;
}
