@use "./main" as *;

//////////////////////////////////// general app elements

@mixin main-container {
  background-color: $bg-gray-1000;
  border: 1px solid $bg-gray-1000;
  border-radius: 4px;
}

@mixin container-bg {
  background-color: $bg-gray-900;
  border-radius: 2px;
  padding: 0 0.5em;
  margin: 0 0.5em;
}

@mixin osc-label {
  color: $ontime-accent-text;
  font-size: 0.8em;
  -webkit-user-select: text;
  user-select: text;
}
