@use "../../../../theme/mixins" as *;

.link {
  @include action-link;
  font-size: $inner-section-text-size;
}

.linkIcon {
  margin-left: $element-inner-spacing;
  display: inline-block;
  @include rotate-fourty-five;
}
