.lower-third {
  margin: 0;
  width: 100%;
  height: 100%;

  .container {
    position: absolute;
    display: block;
    top: 75vh;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    &--pre {
      animation-name: in;
      animation-play-state: paused;
      .data-upper {
        animation-play-state: paused;
        animation-name: upper-in;
      }
      .data-lower {
        animation-play-state: paused;
        animation-name: lower-in;
      }
    }
    &--in {
      animation-name: in;
      animation-play-state: running;
      .data-upper {
        animation-play-state: running;
        animation-name: upper-in;
      }
      .data-lower {
        animation-play-state: running;
        animation-name: lower-in;
      }
    }
    &--out {
      animation-name: out;
      animation-play-state: running;
      .data-upper {
        animation-play-state: running;
        animation-name: upper-out;
      }
      .data-lower {
        animation-play-state: running;
        animation-name: lower-out;
      }
    }

    .line {
      width: 100%;
      height: var(--lowerThird-line-height-override, 0.5vh);
    }
    .clip {
      overflow: hidden;
    }
    .data-lower,
    .data-upper {
      padding-left: 3vw;
      padding-right: 3vw;
      font-family: var(--lowerThird-font-family-override, 'Arial');
      text-align: var(--lowerThird-text-align-override, left);
    }

    .data-upper {
      font-weight: var(--lowerThird-upper-font-weight-override, bold);
      font-style: var(--lowerThird-upper-font-style-override, normal);
    }
    .data-lower {
      font-weight: var(--lowerThird-lower-font-weight-override, normal);
      font-style: var(--lowerThird-lower-font-style-override, normal);
    }
  }
}

@keyframes in {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  60%,
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes out {
  0%,
  40% {
    transform: translateX(0%);
    opacity: 100%;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0%;
  }
}

@keyframes upper-in {
  0%,
  20% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes upper-out {
  0% {
    transform: translateY(0%);
  }
  80%,
  100% {
    transform: translateY(100%);
  }
}

@keyframes lower-in {
  0%,
  20% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes lower-out {
  0% {
    transform: translateY(0%);
  }
  80%,
  100% {
    transform: translateY(-100%);
  }
}
