@import "../Modal.module.scss";

.aliases {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;

  .aliasRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .grow {
    flex: 1;
  }
}

.url {
  font-size: calc(1rem - 2px);
  user-select: text;
}
