.cardCollapsed {
  display: flex;
  gap: 1rem;
}

.append {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: -0.75rem;
  background-color: $gray-900;
  left: 0;
  left: 50%;
  height: 2rem; // match button height
  transform: translateX(-50%);
  padding-inline: 1rem;
  border-radius: 99px;
  font-size: calc(1rem - 2px);
}
