.cardItems {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fullWidth {
  flex: 1;
  align-items: center;
}

.cardCollapsed {
  background-color: $gray-1350;
  display: flex;
  justify-content: space-between;
}

.cardExpanded {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.threeCols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.filterRow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 1rem;
}
