.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleField {
  display: block;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  label {
    min-width: 0;
  }
}

@media (max-width: $min-tablet) {
  .fields {
    grid-template-columns: 1fr;
  }
}
