@use '../blockMixins' as *;

.block {
  @include block-spacing;
  @include block-styling;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 32px 1fr auto;
  align-items: center;
  height: $secondary-block-height;

  &.hasCursor {
    outline: 1px solid $block-cursor-color;
  }
}

.drag {
  @include drag-style;
}

.actionOverlay {
  justify-self: flex-end;
}
